[2016-10-03 11:38] sharwell opened #7 "Consider removing AbstractEqualityComparator<T>"
This class may not be useful in the TypeScript target. See comments in #6.

:memo: This, along with other items labeled **ts-flavor**, will be addressed after the port is initially complete and working.

[2016-10-03 12:10] sharwell opened #8 "Consider readonly properties in interfaces"
Currently the `Tree` interface contains the following method (#5):

[code]

We should consider using the following form, where a property is exposed instead of a method:

[code]

[2016-10-03 18:50] BurtHarris opened #9 "Consider adding a default hashCode() and equals() to Object.prototype"
As I understand it, in JavaScript it's possible to actually add methods to the root Object type's prototype!

We might consider writing a module that adds default implementations of `hashCode()` and `equals(other: any)` to Object, and optimized ones to String.   At a minimum this might make it easier to write test-cases for the collection classes, possibly eliminate the need for the HashedValueTyp

[2016-10-03 19:13] BurtHarris opened #10 "Selecting a test framework..."
I don't have a lot of experience with JavaScript test frameworks, so after reviewing the existing Java tests so [I asked for help on stack overflow](http://stackoverflow.com/questions/39801738/which-typescript-javascript-unit-test-framework-that-has-an-api-most-similar-to).

The only answer received so far (from Basarat who has very strong reputation) said that **[Mocha](http://mochajs.org/)** is

[2016-10-03 19:31] sharwell opened #11 "Evaluate performance of MurmurHash.update"
Currently this method operates on both primitives and objects. Since it is a performance-critical method, we should evaluate if it would improve performance to create separate methods for these two cases and remove the dynamic type checking from the one operating on `number`.

Found during review of #6.

[2016-10-03 19:44] BurtHarris opened #12 "Line ending question"
I noticed something early in about line ending normalization.   I understand the different conventions, but not how you (and git) want to deal with it.

I have seen messages like this, which I don't understand:

[code]

I think the `npm` tool created the file.  Is there anything I should do differently?

[2016-10-03 20:05] #12 closed, assigned to sharwell

[2016-10-03 23:21] #10 closed, assigned to sharwell

[2016-10-04 00:22] BurtHarris opened #14 "Determine if project should use strict null checking"
Makes us dependent on TypeScript 2.0, perhaps adding technical risk, but it seems within reach given all the existing decorators in the Java code about this.   A lot to read about this, see https://www.typescriptlang.org/docs/release-notes/typescript-2.0.html

[2016-10-04 01:14] BurtHarris opened #15 "Add a linter, probably tslint"

[2016-10-04 02:02] sharwell opened #16 "Create constants for Array2DHashSet<T>"
The implementation of `Array2DHashSet<T>` contains the following values which are intended to be constants. We should investigate if there is a better way to express this intent, since the properties in their current form are technically mutable.

[code]

[2016-10-04 04:36] #9 closed, assigned to nobody

[2016-10-04 07:34] #7 closed, assigned to sharwell

[2016-10-04 07:51] #16 closed, assigned to sharwell

[2016-10-05 20:26] BurtHarris opened #30 "Add test code coverage tool"
There is one called [Istanbul](https://www.npmjs.com/package/istanbul) that seems to be used a lot for javascript projects, but I have no particular experience with it.   Sam are you interested in tackling this?

[2016-10-05 20:30] BurtHarris opened #31 "Prepare for/export to npmjs.com"
There are some change we should probably make in the `project.json` file so that `npm` will know about our package.   Once that is done, I think we'll be able to use `npm link` to simplify referring to the package for debugging, samples, etc.  And the `import` directives can avoid some or all of the `..\` prefixes.

I've never done this before, so learning curve is probably about the same for eith

[2016-10-05 20:34] BurtHarris opened #32 "ANTLR tool code generation for TypeScript"
To wrap this up, we'll need to provide a new code generator for the tool.   I was thinking that it should probably be usable for JavaScript tools without a TypeScript dependency.   To do this the tool should emit `.js` files, with added `.d.ts` files to enable TypeScript users to benefit from the typings.

This probably belongs in a later milestone.

[2016-10-06 10:22] BurtHarris opened #37 "Don't block the event loop..."
In JavaScript asynchronous I/O is the rule, rather than the exception.   This is important in many contexts because JavaScript generally runs in a single-threaded environment with an event loop.  To remain responsive, that event loop should not be blocked while waiting for input.

IMHO its too much work to recast ANTLR's API to allow it to do asynchronous I/O in JavaScript environments.   To remai

[2016-10-06 22:26] BurtHarris opened #40 "Broken test discovery VS Test Explorer and mocha-typescript test"
Visual studio gets confused when more than one file with these tests is present with the "Mocha" test framework property.   Furthermore, it gets confused and associated the tests with the generated .js file, rather than the .ts source.

I can take another look at this once we get things better merged.   For now I suggest we use the command-line tests, via `npm test`.

[2016-10-08 01:23] BurtHarris opened #44 "Integrate w/ typedoc"
http://typedoc.org/guides/installation/.

Looks like the typedoc project hasn't yet addressed TypeScript 2.0, so this is currently blocked.   Typestrong/typedoc#234

[2016-10-08 05:43] #30 closed, assigned to BurtHarris

[2016-10-08 05:50] sharwell opened #50 "Consider using non-null arguments for VocabularyImpl constructor"
The `VocabularyImpl` constructor in #34 was ported rather literally from the original Java code. Since we don't have to worry about legacy generated code in TypeScript (prior to the time when `Vocabulary` was introduced), it might not be necessary to support null values for these constructor arguments. After we have completed more of the port, we can examine all uses of `VocabularyImpl` in generat

[2016-10-08 15:53] BurtHarris opened #53 "Search/destroy throw "literal string""
At a minimum, this should be throw new Error("literal string").

[2016-10-08 18:43] sharwell opened #56 "Review cases where a parameter default value is null"
See comments by @BurtHarris in #55.

[2016-10-08 19:30] sharwell opened #58 "Maximize performance where "optional modules" are used in PredictionContext"
Currently `PredictionContext` uses the "Optional Modules" strategy for loading derived types only when/where they are needed. These loads are located in performance-critical code so we should figure out how to best implement the required functionality.

See comments in #36.

[2016-10-08 21:24] sharwell opened #59 "Avoid unnecessary allocations in Array2DHashMap"
See comments in #36.

[2016-10-09 03:06] #58 closed, assigned to BurtHarris

[2016-10-09 03:20] #59 closed, assigned to sharwell

[2016-10-10 21:21] #14 closed, assigned to BurtHarris

[2016-10-11 16:24] BurtHarris opened #81 "Fix doc comments re null."
There number of places where where changes in a return type were made allowing `undefined` in the return type, but the comments still talk about returning null.

For example: Vocabulary.ts line 82-85:

[code]

After the port work is more stable, let's review and decide if we should update the comments or declarations.

[2016-10-11 23:43] BurtHarris opened #82 "Type derived from Array2DHashSet generates runtime error"
On branch ex, the purpose was to convert the exception types, and I added a few stub classes to `misc/Stubs.ts`.    One of those stubs, `ATNConfigSet`, is generating a runtime error when imported, but I haven't figured out why...   Now that I think about it, perhaps this is one of those circular-dependency problems.

Here's the message I get:

[code]

[2016-10-11 23:58] #82 closed, assigned to nobody

[2016-10-13 23:19] BurtHarris opened #91 "ParseTreePatternMatcher matchImpl"
Seems to be an odd condition in the Java reference implementation of `ParseTreePatternMatcher` I noticed while porting.   In that file, there are four if statements like this:

[code]

What's odd is that prior to testing it for null, no code ever assigns it a non-null value.  Is this a bug?

[2016-10-14 11:30] sharwell opened #94 "Fix copyright headers and notice prior to public repository"
It would be preferable from a maintenance standpoint to continue with a copyright assignment plus a list of contributors. In other words, the copyright notice in each file should be the same. Due to @BurtHarris' contributions to the derived work (the TypeScript target), it makes sense to me to have three names listed for each file.
- Terence Parr
- Sam Harwell
- Burt Harris

[2016-10-15 18:11] BurtHarris opened #99 "Avoid unintended whitespace changes"
I think these are being introduced by Visual Studio and/or the Reshaper add-in.   Seems like there should be a setting to avoid it.

[2016-10-16 18:04] BurtHarris opened #109 "Check the intent of this assert is implemented"
AbstractEdgeMap.ts, line 44 the `assert` and comment seem mismatched, given the semantics of JavaScript's `number` type...

[code]

[2016-10-16 18:09] BurtHarris opened #110 "Perf: measure if SparseEdgeMap performs any better than JavaScripts native Map"
I'm guessing this might be perf critical.

Similarly consider if ArrayEdgeMap might derive from Array rather than include it.

[2016-10-16 20:05] sharwell opened #111 "Document lexer use of MAX_DFA_EDGE"
See comments in #107.

[2016-10-16 20:08] sharwell opened #112 "Consider changing DFA.states to Array2DHashSet"
It seems that `Array2DHashSet.putIfAbsent` provides the necessary functionality for the `DFA.states` property. Since it's a lighter-weight type than `Array2DHashMap`, we should using it instead. See comment from @BurtHarris in #107.

📝 The comment for this property needs to be updated to reflect the actual final behavior as implemented in TypeScript.

[2016-10-16 20:10] sharwell opened #113 "Document the difference between DFA.s0 and DFA.s0full"
These fields have special behavior in the optimized runtime, but that behavior is never documented. The behavior of these fields, including the special cases for precedence decisions, should be documented.

📝 See comments from @BurtHarris in #107.

[2016-10-16 20:17] sharwell opened #114 "Consider using user-defined type guards to remove casts in DFA"
Several expressions in the implementation of `DFA` require explicit casts to `DFAState`. Many of these casts are conditioned on the result of `isPrecedenceDfa`, which means it may be possible to use user-defined type guards to eliminate the need to cast.

📝 See comments in #107.

📝 A similar situation occurs with `DFAState.isContextSensitive()`. If they are not reviewed at the same time, a separat

[2016-10-17 10:15] sharwell opened #115 "Document minDfaEdge and maxDfaEdge"
These constants control the selection of `EdgeMap` implementations to minimize the overall amount of memory required to store the DFA. In addition to documenting them, the specific heuristic used to choose between `SparseEdgeMap` and `ArrayEdgeMap` likely needs to be updated for TypeScript, since JavaScript implementations use a different underlying data structure than the JVM for the type `T[]`.

[2016-10-17 10:19] sharwell opened #116 "Document the DFA and DFAState constructors"
These constructors are not documented, which led to several questions during the review of #107.

[2016-10-17 10:22] sharwell opened #117 "Document the purpose of the DFASerializer class"
It appears that `DFASerializer` and `LexerDFASerializer` may not be used for a critical purpose in the core of the algorithm, but instead used for emitting debug/diagnostic information. This should be reviewed and noted in the documentation for these types, since it would be a notable contrast especially from the `ATNDeserializer` type.

📝 See comments in the review of #107.

[2016-10-17 10:24] sharwell opened #118 "Document the precedence DFA identification code in the DFA constructor"
This special case in ANTLR is not obvious to users who are used to a more classical DFA implementation. It should be documented so the implementation is clear(er) to readers.

📝 See comments during review of #107.

[2016-10-17 11:53] sharwell opened #119 "Optimize ATNConfig types for JavaScript memory behavior"
The implementation of `ATNConfig` uses two primary strategies for optimizing memory for this heavily-allocated type:
1. Derived types are used to avoid storing unnecessary data where possible.
   - Most `ATNConfig` instances use `SemanticContext.NONE` as the semantic context, so storage is not provided for anything else in the base type.
   - Only `ATNConfig` instances in the lexer need to store a

[2016-10-17 12:08] sharwell opened #120 "Document ATNConfig.toDotString"
Not all users are familiar with GraphViz, or that "dot" is a term associated with that application. This method should be properly explained in a documentation comment.

:memo: This was requested in #108.

[2016-10-17 12:14] sharwell opened #121 "Document ATNConfig.contains"
This method is currently undocumented.

⚠️ ~~This is a priority documentation item since this method is part of the `ATNConfigSet` reduction and tighter SLL termination condition implemented by the optimized fork of ANTLR 4.~~

📝 This was originally requested in #108.

[2016-10-17 12:37] sharwell opened #122 "Document ATNConfig basics"
The intent/behavior of the `ATNConfig` class is not obvious to new readers. Many suggestions for improvements were given in the code review for #108.

[2016-10-17 12:57] sharwell opened #123 "Document ATNConfigSet basics"
The intent/behavior of the `ATNConfigSet` class is not obvious to new readers. Some suggestions for improvements were given in the code review for #108.

[2016-10-19 02:32] sharwell opened #128 "Add tryGet* methods"
Several methods which return `null` in the Java code were updated to validate their arguments and throw exceptions if information is missing. Methods should be added for these which do not throw, but instead return `undefined`. These methods include:
- `RuleNode.tryGetChild` (non-throwing form of `RuleNode.getChild`)
- `ParserRuleContext.tryGetToken` (non-throwing form of `ParserRuleContext.getTok

[2016-10-19 15:50] sharwell opened #131 "Verify Lexer.MAX_CHAR_VALUE after Lexer is ported"
The Java version relies on `Character.MAX_VALUE` instead of `Lexer.MAX_CHAR_VALUE` to establish the bounds on transitions in `LexerATNSimulator`. The TypeScript target uses `Lexer.MAX_CHAR_VALUE` instead. After the port is complete, verify that `Lexer.MAX_CHAR_VALUE` in the TypeScript target is set to 0xFFFF, which is higher than the value seen in the Java target.

[2016-10-20 02:48] BurtHarris opened #137 "In ATNConfigSet, is mergedConfigs being a JavaScript Map OK?"
I noticed that in the member `mergedConfigs` is declared a `Map` with `{ state: number, alt: number }` as a key.     JavaScript maps are by identity for object as keys, so this seems suspect.   Should this be a `Array2DHashMap` with a special `EqualityComparer`?

[2016-10-20 18:09] BurtHarris opened #141 "Add leading underscore to private/protected members"
After the sources are ported, it would be a good idea for us to go through all the non-public properties and methods, adding a leading underscore to the names.    This is a convention in JavaScript indicating a member is a implementation detail.    Might be good to do for some public variables that are only public due to lack of `friend` or nested class escapes to private/protected.

[2016-10-21 02:57] sharwell opened #147 "Update submodule reference to point at tunnelvisionlabs group"
Currently the home of the optimized fork of ANTLR 4 is the sharwell/antlr4 repository. After this is moved so tunnelvisionlabs/antlr4 is the home, the submodule in this repository should be updated to point at the new location.

[2016-10-21 03:15] sharwell opened #148 "Review PredictionMode for unreferenced code"
As mentioned in #134, some functionality in `PredictionMode` might not be needed by this target. Unreferenced code should be removed after we complete the initial code conversion.

[2016-10-21 03:21] sharwell opened #149 "Consider bounding hash code calculation to 31 bits"
As mentioned in #86, JavaScript runtimes box integers which have the bit 0x80000000 set. Consider updating `hashCode` implementations to mask intermediate values and/or results to avoid this scenario.

[2016-10-21 03:31] #131 closed, assigned to nobody

[2016-10-21 07:23] BurtHarris opened #151 "Should the argument to ATNDeserializer.deserialize() be a string?"
Currently it's a `UInt16Array`.   Seems like it should be `string`.

[2016-10-21 12:22] #137 closed, assigned to BurtHarris

[2016-10-21 12:24] #151 closed, assigned to sharwell

[2016-10-21 20:25] sharwell opened #157 "Provide overview documentation for ProfilingATNSimulator"
Requested during code review in #154.

[2016-10-21 22:17] BurtHarris opened #160 "TsTool could generate `.js` + `.d.ts` files rather than `.ts`"
For later consideration...

We could have the tool's output already in JavaScript, while simultaneously emitting a corresponding `.d.ts` file that declares type information.   This would avoid making a consuming package dependent on TypeScript at build time.   Seems like a nice-to-have.

Implementation-wise in the tool, `.d.ts` files may be considered similar to the "C/C++" concept of a `.h` file.

[2016-10-23 21:55] BurtHarris opened #163 "Can we simplify TokenStreamRewriter's overloads?"
The set of overloads in TokenStreamRewriter.tssoon` is seems over-complicated.   I'm wondering if a little refactoring is in order, at least for the TypeScript port.

1)  The optional `programName` argument at the beginning of `insertAfter`, `insertBefore`, `replace` and `delete` methods seems unnecessary.   Instead, clients using this API could create separate instances of TokenStreamRewriter, ea

[2016-10-24 11:49] sharwell opened #166 "Consider removing TrimToSizeListener"
JavaScript might not have the equivalent of Java's `ArrayList<E>.trimToSize()`, making `TrimToSizeListener` a useless feature of the runtime. If that is the case, `TrimToSizeListener` and the supporting methods can be removed.

[2016-10-24 21:11] #99 closed, assigned to nobody

[2016-10-29 20:21] BurtHarris opened #195 "Structure tool-generated grammar code as a façade..."
The antlr4ts source file structure is based on it's Java heritage, where a source-file per class model is considered best-practice (with exceptions).   However, in the JavaScript/TypeScript world the impact of this file structure is more significant, because it also becomes the unit of modularity.  IMHO module == class is not generally a good choice.

One way to address this might be to have the a

[2016-10-29 21:33] BurtHarris opened #196 "Doing away with BaseListener classes"
While class-oriented programming is supported by TypeScript, it's not necessarily the paragon of style.   A functional style using lambdas is getting a lot of support.   Lets say we define a `Options` interface with optional methods that can be called back on.   Then instead of a `TreeShapeListener` class, a grammar module might support a call something like this, with a very flexible `Options` se

[2016-10-29 21:46] BurtHarris opened #197 "Can we make the Java tool code take the path to a target-language .stg file as a command-line argument?"
I'd really like it if the tool could also generate both recognizers and tests, as a command-line argument.

[2016-10-30 17:19] BurtHarris opened #198 "Review use of `undefined` as a value."
🎱 Somewhat surprisingly, my understanding is that `undefined` as a value isn't exactly safe to use in JavaScript/TypeScript. That's because it is possible (though unadvisable) to assign a value to undefined. I think this sort of code only works as long as no one has defined `undefined`.    Unfortunately due to support for "global" variable, such a definition can occur far-removed from the  lexical

[2016-10-30 17:25] BurtHarris opened #199 "Consider using files similar to index.ts to define subsets of the API needed for different scenarios"
For mobile code running in browsers, it becomes very desirable to find ways to minimize the amount of code downloaded.   For example, if some app doesn't use TreeMatcher, this leads to a substantial amount of code that can be excluded, e.g. most of the code in PR #194.

[2016-10-30 19:08] sharwell opened #201 ""template error" reported during parser code generation"
When generating a parser, a sequence of warnings like the following is reported:

[code]

This warning doesn't affect the generated code itself, but is sure to result in users asking questions about the source of the problem. The code generation templates should be updated to avoid relying on a potentially undefined property.

[2016-10-30 19:34] #196 closed, assigned to sharwell

[2016-10-30 20:58] BurtHarris opened #204 "Consolidate antlr4ts interfaces into a single file"
Looking over the generated JavaScript code, I notice that those TypeScript files which include only interface definition(s) generate silly-short outputs, like the one below.   I would propose we consider collecting all the public interface definitions into a single file.

[code]

[2016-10-31 12:15] #94 closed, assigned to BurtHarris

[2016-10-31 12:27] #201 closed, assigned to sharwell

[2016-11-02 03:15] #44 closed, assigned to BurtHarris

[2016-11-02 19:34] #109 closed, assigned to sharwell

[2016-11-02 19:34] #110 closed, assigned to sharwell

[2016-11-02 19:34] #111 closed, assigned to sharwell

[2016-11-02 19:34] #115 closed, assigned to sharwell

[2016-11-02 19:34] sharwell opened #220 "Implement support for Unicode identifiers in Java.g4 and JavaLR.g4"
The **Java.g4** and **JavaLR.g4** grammars introduced for performance testing in #211 currently have alternatives in the `JavaLetter` and `JavaLetterOrDigit` rules commented out. These need to be implemented in code before Java code containing Unicode identifiers can be parsed.

[2016-11-02 19:35] #148 closed, assigned to sharwell

[2016-11-02 19:36] #166 closed, assigned to sharwell

[2016-11-03 00:47] #112 closed, assigned to sharwell

[2016-11-03 04:10] #37 closed, assigned to nobody

[2016-11-04 02:09] BurtHarris opened #227 "TSC error when compiled against runtime package"
Compiling against an installed copy of the antlr4ts runtime (with **.d.ts** definitions), tsc generates errors like those below.   This is apparently not a problem when compiling against the original .ts file sources.   The error message has something to do with incompatibility of the `RuleContext.parent` property:

[code]

Repro with these files...
[reprofiles.zip](https://github.com/sharwell/ant

[2016-11-04 07:08] #227 closed, assigned to BurtHarris

[2016-11-04 21:23] sharwell opened #233 "Update readme to use npm to install package"
From comments by @BurtHarris in #231:

We should update **README.md** to use `npm` to install the required packages instead of updating the **package.json** files manually. For example:

[code]

[2016-11-09 20:53] BurtHarris commented on #197
Now low priority, closing.

[2016-11-09 20:53] #197 closed

[2016-11-09 20:54] BurtHarris commented on #160
Low priority.

[2016-11-09 20:58] BurtHarris commented on #31
Most of this is now ready, and w/ #244 I'm bumping the version number (manually) to 0.4.0.   Plz review.

[2016-11-14 20:53] sharwell commented on #160
I'm going to mark this as **wontfix** for now since it places the burden of type correctness entirely on the template author with no assistance from the compiler. For code as complicated as ANTLR produces, I don't think this is a maintainable solution.

[2016-11-14 20:53] #160 closed

[2016-11-22 16:19] sharwell opened #247 "Runtime package on NPM is missing readme"
See the [antlr4ts](https://www.npmjs.com/package/antlr4ts) package on npmjs.com.

[2016-11-22 16:23] sharwell commented on #32
:memo: This was already implemented to generate TypeScript files. The suggestion to generate JavaScript directly is a duplicate of #160.

[2016-11-22 16:24] #32 closed

[2016-11-22 16:26] #31 closed

[2016-12-13 04:11] carlansley opened #250 "antlr4ts bin script published with CRLF line endings"
This causes issues on MacOS/Linux etc:

[code]

[2016-12-13 04:24] carlansley opened #251 "Invalid TypeScript emitted when rule has arguments"
From this grammar:
https://github.com/prestodb/presto/blob/master/presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4

Result:
[code]

The problematic generated code:
[code]

[2016-12-13 04:32] carlansley commented on #250
Assuming `antlr4ts-cli` is being published from Windows, likely related to npm/npm#12371.

[2016-12-16 20:24] thosakwe commented on #250
Having this error as well.

[2016-12-18 20:35] sharwell commented on #250
@carlansley Thanks for identifying this and taking the time to file a bug. I'll get right on it!

[2016-12-18 20:45] sharwell commented on #251
This bug *may* be limited to cases where a rule contains both arguments and named outer alternatives (the `# name` syntax).

[2016-12-18 20:47] sharwell commented on #251
@carlansley Now that we have a clear bug report, I would put this in the "known limitations" section of this target. If you have a proposal for what the generated could should instead look like, it would be extremely helpful. 😄

[2016-12-19 01:21] carlansley opened #256 "Module name case mismatch"
Line 17 of `src/Recognizer.ts`:

`import { SuppressWarnings, NotNull } from "./decorators";`

Refers to src/Decorators.ts, works on Windows & Mac, not Linux.

[2016-12-20 05:11] mjkkirschner opened #258 "baseVisitor and Listener not generated"
my command looks something like:

[code]

I get this in the console:

[code]
There are no baseVisitor or baseListener classes generated. Should these be getting generated or am I mistaken?

My grammar is something like:

[code]

[2016-12-20 06:33] sharwell commented on #258
There is no need for a base visitor or listener in TypeScript. The removal of these unnecessary types is in #196, and it was implemented in #200.

* In any case where you planned to have `extends testBaseListener`, use `implements testListener` instead.
* In any case where you planned to have `extends testBaseVisitor<T>`, use `extends AbstractParseTreeVisitor<T> implements testVisitor<T>` instead.

[2016-12-20 06:33] #258 closed

[2016-12-20 22:32] mjkkirschner commented on #258
@sharwell thanks

[2016-12-29 15:00] #256 closed

[2016-12-29 19:01] #250 closed

[2016-12-30 14:58] mike-lischke opened #261 "The generated Javascript code uses exceptions where it should just return undefined"
The generated Javascript behaves differently in various places than other targets (including Java and Javascript). One example is `ParserRuleContext.getToken`. The generated code throws exceptions while it should simply return null. There are other places like `getChild` (and perhaps even other classes) where this happens. It is very important that the behavior of the generated JS code is the same

[2016-12-30 15:14] sharwell commented on #261
Due to strict null checking in TypeScript, it's not practical for this target to exactly match the other targets. Doing so causes an overwhelming burden on developers working with things like listeners and visitors for cases where the parse tree is known to not contain syntax errors.

The solution for this target is the introduction of `try*` methods to match the other targets, such as the followi

[2016-12-30 15:17] mike-lischke commented on #261
Hmm, I don't get the idea of the tryXX methods. If getToken would just return a null instead of throwing everything would be fine (in fact I modified the local antlr4ts code like that and it works nicely). Other targets also do strict type checking and still don't need a tryXX function. That sounds like big burden for me, actually.

[2016-12-30 15:25] sharwell commented on #261
@mike-lischke `getToken` returns `Token`. If you want it to return `undefined`, the method signature needs to change to returning `Token | undefined`. This means you can never use the result of `getToken` without first checking if the result is actually a `Token`, even in cases where you *know* you supplied a valid index. Rather than require null checks *everywhere*, we chose to instead change the

[2016-12-30 15:31] mike-lischke commented on #261
Yes, I got the point about the null check, **but** this is how we do it in every other target. Why does the TS target go a different route (without real need, I'd say)? It's not only about syntax errors! It can easily happen that you cannot find a specific token if it is optional (and not given in the input). Those tryXX functions just make things more complicated, really. Why is it a problem to c

[2016-12-30 16:47] mike-lischke opened #262 "Iterator for ParseTree children"
I found this already a nuisance in the Java target (and hence implemented it differently in the C++ target): can you please make the children of a ParseTree iteratable (e.g. via `for...of`)? Thanks.

[2017-01-02 15:28] sharwell commented on #261
I think the direction I want to see it go is to expand on the current analysis for the number of times a particular element can appear in an alternative. Currently we distinguish between items that can appear at most once, and those that can appear more than once. What we need is to further distinguish between those that are exactly once and those that are optional.

| Appearances | Accessor retur

[2017-01-02 15:30] sharwell commented on #262
Do you have a specific API proposal for this?

[2017-01-02 15:38] mike-lischke commented on #262
Unfortunately, my knowledge about TypeScript is still very limited. Hence I cannot propose an interface. But I imagine something that is implemented like in other classes (like maps or arrays) over which a simple for loop can iterate.

[2017-01-02 15:45] mike-lischke commented on #261
Hmm, yes, I agree. As we see you would use the same return type for `T*` and `T+` which are similar like `T?` and `T`, respectively, which makes me think (also for keeping the class API small) that a common `T | undefined` is the way to go.

[2017-01-04 04:25] sharwell opened #265 "Generated accessors for optional items should allow undefined"
As described in #261, the generated accessor `AContext.b()` has the wrong return type for the following grammar:

[code]

### Expected signatures:

[code]

### Actual signatures:

[code]

### Difference we want to see (actual &rarr; expected)

[code]

/cc @mike-lischke

[2017-01-04 04:28] sharwell commented on #261
@mike-lischke I filed #265 for the primary issue of optional elements having accessors that return required values. If you have other specific requests please feel free to create additional issues for them.

[2017-01-04 05:33] sharwell commented on #265
:memo: Currently blocked on tunnelvisionlabs/antlr4#15.

[2017-01-05 19:40] sharwell commented on #149
:memo: It seems this approach is not used consistently across JavaScript implementations, but is used at least in v8.

[2017-01-06 00:18] #147 closed

[2017-01-07 21:52] sharwell commented on #121
:memo: The SLL termination condition is implemented without actually using `ATNConfig.contains`.

[2017-01-08 00:32] #113 closed

[2017-01-08 00:32] #116 closed

[2017-01-08 00:32] #118 closed

[2017-01-08 00:32] #120 closed

[2017-01-08 00:32] #121 closed

[2017-01-08 00:32] #122 closed

[2017-01-08 00:32] #123 closed

[2017-01-08 04:57] #265 closed

[2017-01-08 11:26] mike-lischke opened #272 "antlr4ts-cli is missing the antlr jar"
Currently I cannot recreate parsers using antlr4ts, because antlr4ts-cli does not come with the antlr jar on installation.

[2017-01-08 13:28] sharwell commented on #272
Well, that's bad.

[2017-01-08 14:39] sharwell opened #275 "Add regression test for package contents"
A regression test of some form which runs on AppVeyor should be included to detect issues like #272 prior to release.

[2017-01-15 16:58] mike-lischke opened #279 "Make parseCallStack parameter in SemanticContext.eval() optional"
I know the Java target is not clear about if [the rule stack parameter](https://github.com/tunnelvisionlabs/antlr4ts/blob/master/src/atn/SemanticContext.ts#L88) is required or not. It is simply passed on to the semantic predicate functions and might be used or not by user code.

I have the need to execute predicates without such a rule stack (simply because I don't have one in this situation) and

[2017-01-15 17:12] sharwell commented on #279
💭 You can pass `ParserRuleContext.EMPTY` in this case.

[2017-01-15 20:24] mike-lischke commented on #279
Yes, sounds like a way to solve that. So, you mean that in normal operations it can never happen an empty rule context is passed in? If so, I'm fine with your suggestion.

[2017-01-15 20:36] sharwell commented on #279
You could get "an empty rule context" during normal parsing, but it won't be reference-equal to `ParserRuleContext.EMPTY`. You can access this value using the public static method `ParserRuleContext.emptyContext()`.

[2017-01-15 20:37] #279 closed

[2017-01-15 20:37] mike-lischke commented on #279
Ok, thanks.

[2017-01-17 19:26] carlansley commented on #251
fyi, the latest from 0.4.0-alpha.4...  `tsc` (2.1.5) fails on the generated code (from Presto's SqlBase.g4) with the following:

[code]

[2017-01-18 00:15] sharwell commented on #251
@carlansley The problem here is the use of `start` as a label in the grammar (in the `windowFrame` rule). This label is emitted as the property `_start` in the generated code, which replaces the property of the same name originally defined in [`ParserRuleContext`](https://github.com/tunnelvisionlabs/antlr4ts/blob/4d925c988f248278b3261af9c65b009554b1c681/src/ParserRuleContext.ts#L71).

:memo: I'm n

[2017-01-18 00:17] sharwell opened #281 "Invalid TypeScript when label aliases an inherited property"
See comment from @carlansley in #251 regarding the `start` label.

[2017-01-18 00:18] sharwell commented on #251
@carlansley I filed #281 to distinguish the new issue from the one originally reported here.

[2017-01-27 16:49] mike-lischke opened #282 "ATNState.serializationNames is untyped"
ATNState.serializationNames should be defined as what it is (a string array). And the member is private. Please allow public usage. Useful for debugging. Thanks.

[2017-01-27 16:52] sharwell commented on #282
I can't find the code you are mentioning. Do you have a link to the line?

[2017-01-27 16:55] mike-lischke commented on #282
Sorry, wrong class mentioned. It's ATNState actually.

[2017-01-27 16:56] sharwell commented on #282
💭  I see an explicit type listed there:

https://github.com/tunnelvisionlabs/antlr4ts/blob/master/src/atn/ATNState.ts#L77

[2017-01-27 16:57] mike-lischke commented on #282
When do you publish that :-)? And pls make the member public.

[2017-01-27 16:58] sharwell commented on #282
That hasn't changed since the first alpha. :smile:

[2017-01-27 16:59] mike-lischke commented on #282
It's not like that in the typings.

[2017-01-27 17:06] sharwell commented on #282
I'll look at this and see which way would be cleanest. :smile:

I'm guessing the compiler omits types for private properties.

[2017-01-27 18:21] sharwell commented on #282
It looks like this field is unused in the TypeScript target and can simply be removed. :smile:

[2017-01-27 19:08] mike-lischke commented on #282
Right, this is nothing for internal use, but rather a nice a debugging help. Removing it wouldn't help with that 😉

[2017-01-27 19:45] sharwell commented on #282
If I remove the `const` modifier, you could do this:

[code]

[2017-01-28 15:48] mike-lischke commented on #282
And that returns the type as a string? How neat is that? OK, then I'm fine with this.

[2017-02-16 02:53] willpugh opened #283 "Uncaught TypeError: Class constructor Lexer cannot be invoked without 'new'"
I'm getting an error when trying to "new" a generated file that extends Lexer.

I suspect the problem is that our project is compiled down from TS to ES5.

Is the NPM module delivered as ES6.  Is there an ES5 variant?  Has anyone else run into this?

[2017-02-16 16:57] sharwell commented on #283
💭 We're using target `es2015`. I assume that means ES6?

[2017-02-16 18:52] willpugh commented on #283
Yup.  es2015 is ES6 (ES6 is the old name for it, I just haven't broken my habit yet :).  It's still not supported by several browsers, which forces us to use ES5, even though many browsers do support it.  Here's a cool graph:
http://kangax.github.io/compat-table/es6/

Are you guys using language features that require using ES 6 as a target?  If not, you can probably simply change the typescript ta

[2017-02-16 19:05] sharwell commented on #283
I have no idea. There's a fairly comprehensive test suite, so if you send a pull request that changes the target it will probably fail the automated build and tell you if something broke. :)

[2017-02-17 02:15] willpugh commented on #283
Hmm.  I tried doing a build before trying any changes and am getting a problem.  The build seems to be running fine, and then I get the following errors.  Is there something I'm doing wrong?

I'm trying to build using 'npm install'

benchmark/TestPerformance.ts(61,40): error TS2307: Cannot find module './gen/std/JavaLexer'.
benchmark/TestPerformance.ts(62,43): error TS2307: Cannot find module './g

[2017-02-19 16:48] mike-lischke commented on #282
When will you finish that? Not much has happened in the repo since Jan 8 and you are still missing a readme in your published node module.

[2017-02-19 16:56] mike-lischke opened #284 "Missing imports in generated classes"
I'm not 100% sure this is really a bug or by design. At least in the C++ target you have to manually add all the `#include` calls yourself.

However, in the TS target there are some imports that are automatically added, including the `FailedPredicateException` class. Grammars might use other exceptions (e.g. `InputMismatchException` in the CPP14.g4 grammar), though. Should that  automatically be i

[2017-03-05 22:53] BurtHarris opened #285 "Compile errors using Typescript 2.2.1"
Installed the latest typescript build (2.2.1) and tried building antlr4ts w/ `npm install`.   During the **tsc** step it generated errors that seem reasonably related to the new features in TypeScript 2.2.    I'll dig into them.

Result:
[code]

[2017-03-05 23:03] BurtHarris commented on #285
Verified this compiles w/o error under Typescript 2.1.6

[2017-03-05 23:18] sharwell commented on #284
The expectation is imports are automatically added for everything generated by the templates. However, if the grammar contains actions which are copied directly (anything from `@members` to actions/predicates), they would need to include a `@header` action to import the required items.

[2017-03-05 23:24] sharwell commented on #285
This should be `Map<string, ATN>` instead of `WeakMap<string, ATN>`.

I would hope this is a compiler bug. Fascinating.

[2017-03-06 00:06] BurtHarris commented on #285
Thanks Sam, that's good to know.

The 3rd and 4th errors are something else entirely, it seems that interface **Map**'s `set` method declaration has narrowed the value argument, which used to be marked with a question mark, making undefined an acceptable value.    That question mark got removed in the new version of lib.es2015.collection.d.ts.

[2017-03-06 01:11] BurtHarris commented on #283
So far, we've only been testing on Node.js.    Browser support should probably be added to our roadmap.

@willpugh, are you sure you have the prerequisites installed?   See CONTRIBUTING.md

[2017-03-06 01:32] BurtHarris commented on #251
In terms of the generated code, I believe this use of overloads rather than optional arguments is sort of "bad style" in TypeScript circles.   I think we should be able to generate something without overloads, like this:

[code]

Assuming that the super class has similar declarations, allowing all arguments to be optional, the if/then/else logic in the constructor body seems unnecessary as well.

[2017-03-06 02:36] BurtHarris commented on #247
Working hypothesis:  the reason we aren't seeing a readme on the NPM web site is that we publish the runtime to NPM from **target/src**, at least that's where the real **package.json** for the runtime seems to live.   Based on that, I'm thinking the fix is to include in the build a step that copies **README.md** from the root directory to **target/src**.

[2017-03-06 03:13] BurtHarris commented on #247
I accidentally pushed a change to the main repository.   The update causes the README.md (and LICENSE) from the root directory to get copied into **target/src** at build time.   I think I've implemented this in a cross-platform friendly way (using an NPM module named CPY).

[2017-03-06 07:36] mike-lischke commented on #284
Hmm, ok, in TS you have an own import per class, while in C++, when you import one file for an exception, you automatically have all other exceptions included as well. Thanks.

[2017-03-06 07:36] #284 closed

[2017-03-06 18:51] #285 closed

[2017-03-06 21:10] BurtHarris commented on #284
@mike-lischke: There's an open issue #195 proposing an alternative to the file-per-class structure for imports.   During porting from Java, we left things file-per-class, but it's not clear to me if that's good style for Typescript or not.

[2017-03-06 21:18] BurtHarris commented on #40
It looks like this might be relevant: pana-cc/mocha-typescript#10

[2017-03-06 21:34] mike-lischke commented on #284
Well, certainly interesting to group things (like the exception hierarchy or ATNState and ATNStateType etc.). However, I have no problem with adding explicit imports when required. Just wanted to clarify the intended approach here

[2017-03-07 02:30] BurtHarris commented on #149
My understanding is that it depends on 32 vs 64 bit in v8.

[2017-03-07 03:25] sharwell commented on #149
This change would make it more difficult to compare results with the Java and C# implementations as well, since this is the checksum used for the TestPerformance tests.

[2017-03-08 00:11] BurtHarris commented on #50
@sharwell: Reviewing status on this issue.   It seems relatively minor at this point, but all generated invocations of the `new VocabularyImpl` currently come from same the [template](https://github.com/tunnelvisionlabs/antlr4ts/blob/master/tool/resources/org/antlr/v4/tool/templates/codegen/TypeScript/TypeScript.stg#L203) line, using only 2 out of 3 arguments meaningfully.

Reviewing the existing

[2017-03-08 00:21] BurtHarris commented on #56
A quick search found no such code remaining

[2017-03-08 00:21] #56 closed

[2017-03-08 01:01] BurtHarris commented on #81
@sharwell: Quick review: it seems like virtually all places where `(@code null)` appears in doc comments, the code/declarations have been altered to expect `unknown`s instead.    There's one glaring exception still using `null` in declarations listed below, which I think should be reviewed before we change the doc comments:

- [ ] `LL1Analyzer.LOOK()` method overloads, parameter definitions still

[2017-03-08 01:04] willpugh commented on #283
O.K.  Looked through this again.  I think my pre-requisites are fine.

However, when I go into reference/antlr4ts and run
   mvn clean install

I get:
Failed tests:
  TestPerformance.compileJdk:426 The JDK_SOURCE_ROOT environment variable must be set for performance testing.

I wonder if this is related to the root cause, and I need to get the JDK source code installed on my machine?  I couldn't f

[2017-03-08 02:33] BurtHarris commented on #283
Ahh, yes.  I forgot about that, but it rings a bell.   If I remember however there may be licensing challenges related to that.   @sharwell would know better than me.

[2017-03-08 02:36] sharwell commented on #283
@willpugh You can point it at any folder really. You only need Java source in it if you want to play with the performance tests.

[2017-03-08 03:00] BurtHarris commented on #282
@mike-lischke does PR #291 address your concerns here, or is there more?    I was wondering if the `toString()` method should should use the serializationName, but it's not clear to me if this is exclusively a debugging method .

[2017-03-08 03:08] BurtHarris commented on #262
Everyone OK putting this one on the back burner for now, per discussion in PR #288?

[2017-03-08 08:06] mike-lischke commented on #282
Hmm, I believe the necessary change has already been done there (removal of the const keyword). I tried that locally by changing the code in the node_module folder and it worked. It's just this must be published finally so that users of my node modules don't get a compiler error.

[2017-03-08 08:09] mike-lischke commented on #262
OK

[2017-03-08 15:44] BurtHarris commented on #282
OK, I see, thanks.

[2017-03-08 16:39] BurtHarris opened #293 "tslint: interface name must start with a capitalized I"
The [default tslint ruleset](https://palantir.github.io/tslint/rules/interface-name/) calls for an "I" prefix on Interface names.
On the other hand, this [basarat's style guidelines](https://basarat.gitbooks.io/typescript/content/docs/styleguide/styleguide.html#interface) say to avoid the "I" prefix.

Shall we adopt the "I" convention or suppress it?

@sharwell: I can go either way on this, happy

[2017-03-08 17:03] BurtHarris opened #294 "tslint suggests: no underscore on member names"
We've partially implemented a stylistic policy of using an underscore prefix on private/protected member names.   The default tslint rule set raises objections to this.

@sharwell, looking for your input on this one.   I'm leaning the way of accepting the suggestion.

Either way, we should probably choose one convention and apply it with tslint, but for now I've suppressed the message in **tslint.

[2017-03-08 17:07] BurtHarris opened #295 "tslint suggests: Calls to 'console.log' are not allowed."
I figure `console.log` is OK in test code, but not in the ANTLR4TS runtime library.

**tslint** caught quite a number of them in significant classes like **`ParserATNSimulator`**, **`LexerATNSimulator`**.   @sharwell what's your thought about these?

[2017-03-08 17:22] BurtHarris opened #296 "tslint: snake_cased member names in ParserATNSimulator & LexerATNSimulator"
@sharwell, is there some reason why the member variables in these two classes include underscores between words, rather than typical camel-case style?

(temporarily suppressed with comment in those files)

[2017-03-08 19:05] BurtHarris opened #297 "tslint generated code: Switch statement should include a 'default' case"
**tslint** suggests switch statements include a default case.   As stands, our generated code doesn't do that, particularly in switch statements related to **sempred** processing and that invoke `this.interpreter.adaptivePredict`.

I'm going to suppress these warnings with a comment in the template for now.

[2017-03-08 19:34] BurtHarris opened #298 "tslint: tabs vs spaces for indents"
The default tslint rules expect indentation with spaces.
For now, I've just disabled the rule because we seem to have a mix.    I'm OK either way, this issue is a placeholder to discuss, choose, and re-enable it one way or the other.

[2017-03-08 19:37] BurtHarris opened #299 "tslint: member-access rule (requiring public, protected or private)"
The default **tslint** rules require a specific `public`, `protected` or `private` be specified on each class member, while Typescript allows this to default to `public`.    Its probably a good idea to re-enable this rule and work through the errors raised, but it's not top on my list to do right now.

@sharwell I'm not sure, but suspect you might have an easier time deciding which access any give

[2017-03-08 21:04] BurtHarris opened #300 "tslint: Exceeds maximum line length of 120 (max-line-length)"
Lots of lines exceed tslint recommended maximum length.    Seems like pure drudgery now, but probably not a bad guideline to enforce (later).

This check disabled in tslint.json for now.

[2017-03-08 23:02] BurtHarris commented on #298
For now, we'll stick with the existing tab-based indent convention.   I've fixed it a few places as part of the #292 TSLint integration.

[2017-03-08 23:02] #298 closed

[2017-03-08 23:06] BurtHarris commented on #141
Closing this, will track with tslint issue #294

[2017-03-08 23:06] #141 closed

[2017-03-09 21:03] willpugh commented on #283
Hmm.  I'm simply running
  npm install

but it seems to want to run the performance tests.  The first error (of the hundreds I end up getting) is:

benchmark/TestPerformance.ts(61,40): error TS2307: Cannot find module './gen/std/JavaLexer'.
benchmark/TestPerformance.ts(62,43): error TS2307: Cannot find module './gen/std-atn/JavaLexer'.
benchmark/TestPerformance.ts(63,44): error TS2307: Cannot find

[2017-03-10 06:45] BurtHarris commented on #283
Those errors are from *building* the performance test, not *running* it.    I don't think building it should have a dependency on the java sources being present.   Could you please log the full output from `npm install` to a file and attach it to this issue?   Thank you.

[2017-03-10 16:36] BurtHarris opened #302 "Mac/Linux Continious Integration (Appveyor or Travis CI)"
We have implemented [Appveyor](https://ci.appveyor.com) for CI on Windows, but it seems like we need something similar for Mac/Linux integration too.   I don't know if Appveyor can do Linux builds too, I know there is also [Travis CI](https://travis-ci.org/).

Bug #283 started out as something else, but current discussion seems to be a Mac/Linux build issue.

[2017-03-10 18:06] BurtHarris opened #303 "Discrepency between Windows and Linux on generated .ts file location"
When the Java part of the antlr4ts-cli tool gets invoked with a grammar file specification of `benchmark/Java.g4`, and `-o benchmark/gen/std`, the output goes to

- `benchmark/gen/std/./Java.ts` on Windows
- `benchmark/gen/std/benchmark/Java.ts` on Linux

This discrepancy currently causes later failures on Linux builds as reported in #252 & #283 during the tsc step, because tsc doesn't find the fi

[2017-03-10 18:13] BurtHarris commented on #283
Thanks @willpugh, it a separate platform specific bug causing the **error TS2307: Cannot find module** messages.    I've opened #303 to track that bug, and issue #302 to catch this sort of platform specific issue in the future.

[2017-03-10 18:14] BurtHarris commented on #303
[code]
On Windows the output it looks like this:

[code]
While on Linux:
[code]

Here's a link to show what the build output in this area should look like in context:  https://ci.appveyor.com/project/sharwell/antlr4ts/build/1.0.473#L1187
vs
https://travis-ci.org/BurtHarris/antlr4ts#L1184

[2017-03-10 18:18] BurtHarris commented on #303
Seems like this due to code in TypeScriptTool.java near line 82.

[2017-03-10 19:42] BurtHarris commented on #302
Attached is a zip archive containing the .travis.yml file I started to work on.   With this, Travis CI seems to repro issue #303 .
[travis.zip](https://github.com/tunnelvisionlabs/antlr4ts/files/834951/travis.zip)

[2017-03-13 22:51] millergarym opened #304 "Readme assumes familiarity with npm"
I'm not experience in Javascript or TypeScript.
The readme assumes a lot of background knowledge.
It also appears to be out of date (eg version 0.2.0 is no longer valid).

Can a more complete and up to date example please be provided.

Cheers

[2017-03-16 02:48] BurtHarris commented on #304
Thanks for the feedback, we'll work to improve that for next release.

[2017-03-16 05:38] millergarym commented on #304
Is there an example project that works now?

[2017-03-17 16:25] mike-lischke commented on #304
@millergarym I have 2 projects based on antlr4ts (both node modules):  https://github.com/mike-lischke/antlr-graps and https://github.com/mike-lischke/antlr4-c3

[2017-03-17 18:25] mike-lischke commented on #261
I have to reopen this issue again, because the provided solution doesn't work. In case of syntax errors I have no way of checking if a token exists, because even testing for it throws and exception. Is this really what you consider the simpler solution? Here's an example:

[code]

The call to `!ctx.ruleBlock()` throws already. How am I supposed to check if that token exists? Wrap everything with a

[2017-03-18 09:26] mike-lischke opened #305 "Add Visitor example"
The implementation of visitors differs significantly from other ANTLR4 targets and hence needs specific documentation. Especially the fact that the AbstractParseTreeVisitor is not used at all and generated visitors are interfaces, not classes needs some extra considerations. Please add a code example how visitors have to be implemented correctly with the antlr4ts target.

[2017-03-19 02:57] sharwell commented on #305
@mike-lischke You should be able to declare a class that extends `AbstractParseTreeVisitor<Result>`. The `defaultResult` method is required, but otherwise it should work like one in Java.

[code]

[2017-03-19 09:44] mike-lischke commented on #305
You missed an important fact: AbstractParseTreeVisitor is not used in generated code! Instead my listener is generated as:

    export interface ANTLRv4ParserVisitor<Result> extends ParseTreeVisitor<Result> {

which has 2 problems: 1) it's an interface, not a class and 2) it doesn't implement the important visit() and visitChildren methods (they are in the AbstractParseTreeVisitor class).

Additio

[2017-03-19 12:46] sharwell commented on #305
@mike-lischke I agree that an example is good, and I don't plan to close this issue until one gets added. I'm just trying to unblock you by providing an initial sample here in the issue. :)

The use of `AbstractParseTreeVisitor<Result>` is not required. If you want the `visit` method to have default behavior like you see in the Java target, just add `extends AbstractParseTreeVisitor<Result>` to th

[2017-03-19 13:06] sharwell commented on #305
Apparently you can use class expressions:

[code]

[2017-03-19 21:59] millergarym commented on #304
@mike-lischke

Thanks for this. Can you let me know what I should be based on the errors below.

[code]

[2017-03-20 07:35] mike-lischke commented on #304
`Chai` is obviously missing, which is strange as the graphs module contains this as a dev dependency (just like `mocha`). As a workaround you can manually install `chai` before you instal `antlr-graps`.

[2017-03-20 09:06] mike-lischke commented on #305
Somehow I'm still trying to use the TS visitor implementation just like I did with Java and C++, but it escapes me :-)

OK, thanks for the infos. I'll check that out in the next days.

[2017-04-01 11:48] mike-lischke opened #306 "No longer can generate parsers"
I haven't done this for a while (and it worked before) but with the latest antlr4ts package generating files from grammars fails. The problem is that paths are now handled different than before and I'm not 100% sure this is a problem of antlr4ts and not, maybe, by vscode (where I use this node module).

What happens is this:

1) I have a scripts entry in my package.json for my node module:

[code]

[2017-04-01 12:36] mike-lischke commented on #305
Ok, the trick is obviously to extend the abstract visitor and implement the generated visitor, interesting:

[code]

The class expression approach doesn't seem to work if you want to export a class usable by other modules, but you don't need to use them, so I'm fine with the solution now. Your class must implement the `defaultResult()` as a minimum. What's funny is that you can use both normal fun

[2017-04-01 12:58] sharwell commented on #306
😕 I haven't made any releases any time recently. Were you using a non-Windows system by any chance? If so you were probably hitting #303.

[2017-04-01 13:01] #53 closed

[2017-04-01 13:01] mike-lischke commented on #306
Yes, that looks related. I'm on macOS and the code generation used to work before. As a workaround I copied the jar to my grammar folder and generated my grammars directly without antlr4ts-cli.

[2017-04-01 13:05] sharwell commented on #305
This is a limitation imposed by the type system. We can't relax this restriction without changing the return type of each visitor method to include `| undefined`, which would be more intrusive to developers than just requiring the `defaultResult()` method be defined. In C# we would use `default(T)` here, but there is no equivalent construct in TypeScript.

[2017-04-04 18:03] mike-lischke commented on #306
I just realized that I also need the code generation for getting the ATN for a given grammar, so it's quite essential for me that this gets fixed soon. Sorry for the extra pressure but I'm blocked here currently.

[2017-04-07 12:15] sharwell commented on #302
:memo: For reference, the attached .travis.yml file is as follows:

[code]

[2017-04-07 12:21] sharwell commented on #306
Duplicate of #303

[2017-04-07 12:21] #306 closed

[2017-04-07 12:24] sharwell commented on #303
The ANTLR tool treats input paths differently if they contain a path separator - but for this check it only uses the default path separator for the current platform. For cases where you have one fixed build command that runs on both Windows and non-Windows systems, you must avoid specifying directory names in the set of input files passed to **antlr4ts**. See commit 27b9316 for the resolution as a

[2017-04-07 12:25] #302 closed

[2017-04-10 20:38] shaunburdick opened #308 "Classes used before definition"
I ran into an issue using this library with the newest version of Typescript and ts-node (tsc: 2.2.2, ts-node: 3.0.2, node: 7.8.0)
The resulting Parser.ts was using the *Context classes before they were defined. This was causing the parser to throw an error saying they were not defined. I fixed it by moving all the Context classes above the Parser class.

[2017-04-13 15:52] mike-lischke opened #309 "How to generate an ATN from a grammar using antlr4ts?"
I need a way get the ATN for a grammar file. This could be used for many features in a grammar editor. However, many of the classes used by the ANTLR tool are not part of the runtime and hence not available in other targets but Java.

Another option is to let antlr4ts generate lexer + parser for a grammar and get the serialized atn from the generated files. Deserialization is fortunately part of t

[2017-04-18 15:15] mike-lischke commented on #309
I have a [pull request](https://github.com/antlr/antlr4/pull/1823) for a solution running in the ANTLR4 repo which also would solve this issue here. Would you be willing to take this over in the typescript target jar?

Btw: will the typescript ANTLR4 jar ever support other languages than typescript?

[2017-04-27 12:38] AdityaDaksha opened #310 "TypeError: Class constructor Lexer cannot be invoked without 'new'"
ngOnInit() {
          //console.log(this.response);
          this.testAntlr4ts();
     }

      testAntlr4ts() {
          // Create the lexer and parser
          let inputStream = new ANTLRInputStream("text");
          let lexer = new GrammerLexer(inputStream);
          let tokenStream = new CommonTokenStream(lexer);
          let parser = new GrammerParser(tokenStream);

          //parser.

[2017-04-28 20:01] shaunburdick commented on #308
Yeah, played around a little more and seems to be an issue with class hoisting, JS doesn't do that.

[2017-05-01 18:24] nehaagrawal commented on #310
can someone please help us here.

[2017-05-03 17:28] nehaagrawal opened #311 "Please provide ES5 target"
We are transpiling our project to ES5 but antrl4ts is using ES6. I have read that it's  incompatible and we can't use it till you provide the ES5 version . Is there a way around?

Thanks!

[2017-05-05 14:39] #309 closed

[2017-05-05 16:29] nehaagrawal commented on #308
I am getting the exact same error in the generated parser class. I changed the order of the defined class and it worked.  More details on this stackoverflow post. http://stackoverflow.com/questions/43765160/uncaught-referenceerror-is-not-defined-typescript?noredirect=1#comment74575902_43765160

I have recently posted few issues here and never got a reply. Is this group active?

[2017-05-13 16:36] BurtHarris commented on #311
Can you be more specific about your intended target environment.   What is it you're sayin ES6 target code is incompatible with?

[2017-05-14 08:11] BurtHarris commented on #304
I've opened a separate bug to address the errors reported by @millergarym.

[2017-05-14 08:59] BurtHarris commented on #305
Not sure I understand the whole thread, but isn't `new T()` a reasonable substitute for `default(T)`?

[2017-05-14 09:16] BurtHarris commented on #303
I was confused by the title of #307.   The fix in #307 is isn't very general, only fixes the problem in this one project.   I'm now running into the same problem trying to build Mike's cool looking *antlr4-c3*.   Sam, is it possible to fix the tool to be more platform-neutral?

[2017-05-14 12:23] mike-lischke commented on #305
@BurtHarris no, it's not that, but how to implement an own visitor. The solution for typescript differs from other target languages (where you just derive your visitor from a generated base visitor). And that should be documented somewhere, which is why I asked for an example. Sam gave me the required hints and I was able to continue.

[2017-05-18 02:12] BurtHarris opened #313 "NPM script warning NPM version 4.5"
With NPM version 4.5.0 installed, the `npm install` command in this project generates a warning in preparation for a breaking change in NPM:
[code]

As I understand it, we should simply rename our `prepublish` script to `prepare`, and perhaps add an `engine` indication that were dependent on NPM 4 or greater.

[2017-05-18 06:19] BurtHarris commented on #308
The antlr4ts target is pre-release and too new to get any attention on stack overflow, this repository is the best.
 place for now.  We are still working on making this a stable production quality port, but can't commit to a schedule.

[2017-05-18 06:48] BurtHarris commented on #310
To date, we have not tackled getting antlr4ts to run on browsers, we recognize that it's desirable but it is not currently in scope for our first release, so helping with the current info provided is tricky.   If you can simplify the sample code for this issue to be node.js only, we can probably tackle it sooner.  Ideally you could point me at a simpler sample project on github rather than embed p

[2017-05-18 08:29] BurtHarris commented on #261
I dropped the ball on this.  Issue #128 was intended to address this, but the tryXxx() approach never seemed completely satisfactory, and I could not find a typescript best practice recommended.

Let's go back to the having `getToken()` return a nullable, as Mike suggests, and provide a generic `unNull( x  : T | null ) : T` function which can throw on null to simplify consuming code where full fle

[2017-05-18 13:25] sharwell commented on #261
@BurtHarris This issue only arises when processing trees that contain syntax errors. In cases where users are working with these trees, the `tryXxx()` approach seems reasonable. Switching back places the burden instead on users working with trees that *don't* have syntax errors, which is a bad experience overall.

[2017-05-18 16:50] BurtHarris commented on #261
@sharwell OK, to clarify:   Do non-throw versions of the three methods listed below cover it, or do we need codegen changes as well?

- RuleNode.tryGetChild (non-throwing form of RuleNode.getChild)
- ParserRuleContext.tryGetToken (non-throwing form of ParserRuleContext.getToken)
- ParserRuleContext.tryGetRuleContext (non-throwing form of ParserRuleContext.getRuleContext)

[2017-05-18 18:37] BurtHarris commented on #261
@mike-lischke I'm not sure if the PR above fully addresses your concern, because I can't find `ruleBlock` defined anywhere.   Please have a look and let me know if its a solution you can live with, or if there are more methods like getChild that need a tryGetChild..

P.S.   An alternative we considered to tryXxx() some time back was to add an optional `throws: Boolean` in an overload to methods li

[2017-05-18 23:03] BurtHarris commented on #282
I'm going to make the assumption this has been fixed and close the issue.

[2017-05-19 08:31] mike-lischke commented on #261
`tryGetRuleContext()` is not a nice replacement for normal rule context retrieval, because it requires the user to lookup the index of the context manually (which is otherwise done on code generation). I understand that because of the strict null check, when allowing `undefined` on rule getters, an application would either have to force not null (via the `!` operator) or check if the returned valu

[2017-05-19 13:33] sharwell commented on #261
@mike-lischke If your parse operation had syntax errors, don't run the visitor at all. For most user scenarios, most visitors are not only fine to run like that, but are actually cleaner and produce a more consistent user experience. When implementing code completion, it's more work to handle errors, but it's not a problem many users will ever need to be involved with.

I'm not seeing any place wh

[2017-05-19 20:01] BurtHarris opened #315 "Control use of experimental decorators in generated code"
In trying to prepare a tutorial project, [antlr4ts-json](https://github.com/BurtHarris/antlr4ts-json), I found that as of 0.4.0-alpha.4, the **antlr4ts tool** generates TypeScript code including the experimental decorators notation, e.g. `@Override`, `@NotNull`, etc.   This requires `tsc -experimentalDecorators`  (or similar) in packages dependent on us.

I'm OK having such decorators in the antlr

[2017-05-20 11:09] mike-lischke commented on #261
That's not an option. In order to have a passably useful symbol table you have to visit the produced parse tree in any case. Remember the syntax error could also be after the caret position, so everything before that is valid and needs to be considered (e.g. for code completion).

Sure, look at this [generated code for an ANTLR4 parser](https://github.com/mike-lischke/antlr4-graps/blob/master/pars

[2017-05-21 03:37] BurtHarris commented on #261
OK @sharwell, @mike-lischke's generated-code example has me convinced that ***sometimes it's better to lie to the type system***.

The TypeScript declaration of `Array<T>` is prototypical example for JavaScript: `[n]` is _not_ declared to return `T | unknown`, even though in reality an out-of-bounds index will return an `unknown` value (and NOT throw an exception unless you try to use the value re

[2017-05-21 08:24] sharwell commented on #261
Code completion is overall a minority case. It may be the majority case for what you are working on, but I do not find such a limited case to be substantially motivating to detract from the type safety being provided for the majority case. You will need to use the `try*` methods in many cases, but most ANTLR-based applications will not need them at all.

The index is [always 0](https://github.com/

[2017-05-21 08:26] mike-lischke commented on #261
@BurtHarris. I fully support your thoughts here, however how can you return `undefined` when you haven't declared a return value of `T | undefined`? I just tried TS won't let your return `undefined` in that case.

[2017-05-21 08:38] mike-lischke commented on #261
@sharwell, How's not throwing an exception corrupting the type safety in antlr4ts? You also return `undefined` for optional elements, without having trouble with type safety. I agree you shouldn't optimizes for the special cases, but always for the general case (majority use), though I don't consider this here as special case (ignore the connection to code completion for a moment). It's s a genera

[2017-05-21 08:48] sharwell commented on #261
Either the return value is allowed to be `undefined`, or it is not. There are three options when you cannot statically verify the inputs to a method producing such a value:

1. Throw an exception
2. Return a sentinel
3. Break out of the type system, and return `undefined` even though it claimed not to

Optional elements use a different return type in the generated code than required elements use.

[2017-05-21 09:16] mike-lischke commented on #261
OK, I see we obviously have different goals and we should stop endlessly arguing. I can just fork antlr4ts and change that to what I need/want, no problem. Thanks.

[2017-05-21 09:33] sharwell commented on #261
@mike-lischke If our goals would be considered competing with one another, that would be a pretty substantial negative mark on the type system for the language. I am still interested in addressing the usability concerns that remain. There are two specific cases where things remain potentially clumsy for error handling scenarios. In each of these cases, the alternative to handle errors is quite a b

[2017-05-21 20:47] BurtHarris commented on #8
Reopening because so many 'getXxx()' or functional equivalent remain.

[2017-05-21 22:28] BurtHarris commented on #261
@sharwell: This is really a matter of conflicting style not conflicting goals.     Its unfortunate that Mike felt blocked, but I feel accountable for not working through this earlier.    But in view of [***ts-flavor***](https://github.com/tunnelvisionlabs/antlr4ts/labels/ts-flavor), the assumption above about not changing `ctx.t()` or `ctx.t(i)` tastes bad to me.

It all goes back to issue #8.   W

[2017-05-21 23:07] BurtHarris commented on #261
@mike-lischke I understand re forking, and wanted to point out that the [npm link](https://docs.npmjs.com/cli/link) and [bundle](http://stackoverflow.com/questions/11207638/advantages-of-bundleddependencies-over-normal-dependencies-in-npm) features may help make this less painful.

[2017-05-22 06:59] mike-lischke commented on #261
No worries, I'm just tired to discuss this issue.

[2017-05-23 19:46] BurtHarris commented on #313
I've worked out different approach to this that should provide upward/downward compatability over most versions of npm that might be installed.   See https://stackoverflow.com/questions/44037774/best-practice-for-upgrading-npm-prepublish-script-for-npm-4/44136814#44136814  please vote it up if you approve.

[2017-05-31 00:10] BurtHarris opened #318 "Deprecate package `antlr4ts-cli`, introduce the little-seen `antlr4ts-tool`"
Asking the developer to install a package named `antlr4ts-cli` in order to gain access to the tool named `antlr4ts` is counter-intuitive.   Let's chalk it up to a learning experiment.

Here's what I'd propose instead:

1.  In a project subdirectory actually named `antlr4ts-cli` we setup a dummy package that serves primarily to let people know that they no longer should be using this package.   We

[2017-06-04 14:02] mike-lischke opened #319 "Include BOM handling in ANTLRInputStream"
It would be helpful if the ANTLRInputStream class could deal with a potential BOM at the beginning of the input (e.g. when loaded from a file).

[2017-06-04 15:59] sharwell commented on #319
ANTLRInputStream in the TypeScript target does not operate at this level. The input is expected to already be converted to a string based on the proper encoding. If a byte order mark remains at this time, it is assumed that the byte order mark really is a U+FFFE character in the input.

[2017-06-04 16:01] BurtHarris commented on #319
Agreed in purpose! However I'm not convinced I'd do it on that class.

This is very compatible with an approach I've been considering by taking on a dependency on `vinyl` which seems to do a great job of abstracting files and file metadata.     Together with Vinyl adapter like `vinyl-fs` , it really seems to hit the spot.

[2017-06-04 16:02] sharwell commented on #318
Do you have examples of other packages doing this and/or a convention? I don't mind changing it if we're obviously not following a convention that everyone else is, but otherwise it never seemed burdensome to me.

[2017-06-04 16:04] sharwell commented on #319
:memo: Note that I am generally in favor of byte order mark handling, and filed/fixed a similar issue in the ANTLR tool for 4.2: antlr/antlr4#175

[2017-06-04 16:10] BurtHarris commented on #319
As background, I ran into Vinyl in researching build systems.   I've spent too much time fooling around with the package.js scripts, and wanted something smarter.   Jake and Grunt both seem really crusty, but [Gulp](http://gulpjs.com/) seems based on modern node.js and ECMAScript v-next concepts like streams.

[2017-06-05 07:52] mike-lischke commented on #319
I find it convenient to not have to tinker with string input at this point and hence have implemented BOM handling in the C++ target (in ANTLRInputStream). Would be nice if other tagets would do the same.

[2017-06-05 15:07] sharwell commented on #319
@mike-lischke The C# target also implements BOM handling in ANTLRInputStream. The difference with the TypeScript target is it's the only one that doesn't do *anything* with encoding because it doesn't read raw streams. There is only one supported input form, which is whatever JavaScript uses for the implementation of the `string` type.

[2017-06-05 15:47] mike-lischke commented on #319
Well the BOM is not so much for handling raw streams, which means you can remove it also from strings (otherwise a user of the input stream class has to test this for every source of input (file, clipboard, editors etc.)). I don't see a problem by removing it. It's an otherwise invalid code sequence and shouldn't be used anywhere else anyway.

[2017-06-05 15:52] sharwell commented on #319
As an example, this would break cases where someone is parsing content similar to the serialized ATN we create for ANTLR 4. Obviously we can't remove all U+FFFE characters, but even if we remove one from the start of an already-decoded input we're changing parsing behavior in ways that can break applications.

[2017-06-05 17:16] sharwell commented on #319
@mike-lischke I'm reopening this as a documentation issue. Since the TypeScript target differs from ANTLR in this respect, I believe users would find it valuable if the documentation contained an example related to the parsing of inputs which are encoded as UTF-8 with a byte order mark.

[2017-06-05 17:24] BurtHarris commented on #319
`string`s are no place for binary data, in Node.js we use `Buffer` for that.   If the input to a reader is a `string`, striping any leading BOM seems perfectly safe to me.

[2017-06-07 03:07] BurtHarris opened #320 "Implement ANTLRFileStream"
I've figured out we *can* implement an `ANTLRFileStream` class for Node.js.

Previously I didn't think this was possible because the [`stream`](https://nodejs.org/dist/latest-v6.x/docs/api/stream.html) API are all async with a callback style interface.   However, there are synchronous read (and write) interfaces in the [`fs`](https://nodejs.org/dist/latest-v6.x/docs/api/fs.html) module, they just

[2017-06-07 03:14] BurtHarris commented on #320
Maybe I should be looking at the UnbufferedCharStream to base this on.   The "default" for on Node.js is utf-8.   My previous attempts have been to map this to 'utf-16le', but if the logic for decoding the utf-8 on the fly is built into the input stream..., utf-8 might have better performance for the typical case.

The `Unbuffered` in that classes name has previously put me off, but now that I rea

[2017-06-07 05:15] BurtHarris commented on #320
@sharwell It looks to me like we could gain a significant performance advantage by redefining `interface CharStream` slightly.   We could get rid of `LA(i: number): number`, and replace it by a `readonly cp: number`.

1,214 occurrences of `.LA(` in source files, including both `.ts` and `.tssoon` files,
1,181 of those are `.LA(1)`
33 remaining (non-`.LA(1)`) references,
    - 10 of them in `benchm

[2017-06-07 19:11] BurtHarris opened #321 "Use the /** @internal */ marker where appropriate"
To narrow the "public" API and reduce semantic version number creep, I suggest we apply `@internal` in JSDoc comments.

When we turn on the `--stripInternal` switch, this will cause the emitted declaration files to omit the artifacts from the `.d.ts` file, which won't absolutely prevent use of them (like in .NET), but does get across the idea that these are non-public APIs.

@sharwell, I think @in

[2017-06-07 23:25] sharwell commented on #321
Most of the items that would be considered internal end up getting manipulated in certain applications. I have various code in real applications that modifies prediction behavior, dynamically rewrites the ATN transitions, and modifies the DFA caching behavior.

[2017-06-07 23:26] sharwell commented on #320
The real problem isn't the stream implementation, but the fact that the lookahead implementation requires the stream be synchronous.

[2017-06-07 23:45] BurtHarris commented on #321
In a JavaScript based world, `@internal` can't prevent anything!

To someone writing in JavaScript, everything is still accessible, and the TypeScript programmer who really wants to can get around this with a cast or by writing their own declarations.   TypeDoc implements `@hidden`, `@private` and `@protected` declarations which only impact documentation.

Do you think anyone but you does that sor

[2017-06-07 23:59] BurtHarris commented on #320
I think there are three broad use-cases we need to consider, with a fourth possible in some future

1.  Simple Node.js command line applications.   This is the market for ANTLRFileStream.  In these applications a responsive event loop is unimportant, but handling potentially large files is.

2.  Scalable Node.js server applications.

3.  Browser-based applications.

4.  Some streaming `async` pars

[2017-06-11 01:02] BurtHarris opened #323 "Can we replace Vocabulary with TypeScript enum(s)"
Instead of exporting static constants for the Lexer token names, a `enum` seems like it would be better.  Code referencing them might seem more wordy, but it will compile down to inline constants.

But would it also be possible to replace `Vocabulary`/`VocabularyImpl` with an `enum` or two, one probably based on the above.

Motivated by new understanding after reading Ryan Cavanaugh's answer to [t

[2017-06-11 01:42] BurtHarris commented on #282
@mike-lischke I've just got a better fix.   Sam's comment from January 27 about removing the`const` on ATNStateType was right on.   After the following PR, you should be able to use enum `ATNStateType` to lookup the serialization names.

[2017-06-11 01:49] BurtHarris commented on #323
As part of this, I think it probably makes sense to make Vocabulary the concrete class rather than an interface.

[2017-06-11 02:32] #282 closed

[2017-06-11 20:00] BurtHarris commented on #323
What I had in mind has too many breaking changes, so I'm going to punt this.

[2017-06-11 20:00] #323 closed

[2017-06-14 19:38] BurtHarris opened #325 "RFC: Can we make async parsing easy?"
Looking for comments on this
===================

The Java-based ANTLR API is pull-based, making it hard to make cooperate with JavaScript's steam based I/O and composability model.   Adjusting the antlr4ts API so that it works _with_ the streams model, now, rather when its more stable and adopted, may be a worthwhile investment.   I wanted to think about how this _might_ look at a high level.

Le

[2017-06-27 09:45] fdeitelhoff opened #326 "TypeError: Class constructor Lexer cannot be invoked without 'new'"
I'm having trouble setting up the TypeScript target for ANTLR4 in my NodeJS + Angular environment.

The automatic generation from my grammars are working fine, but the following problem occurred in my code:

[code]

At this time I'm doing just this:

[code]

I've tried various ways of generating code from my grammar files. The current solution looks like this:

`"antlr4ts": "cd src/simplex/grammar

[2017-06-27 11:29] fdeitelhoff commented on #326
Another update:

I changed the target to "ES6" and the errors are gone.

But there are new ones. :) For example "SimplexContext is not defined". (Simplex is my grammar). I found out that if I move the complete SimplexParser from the SimplexParser.ts at the bottom of the generated file, everything works fine. TypeScript is much more restrictive on the order of types within a file (my guess).

Is th

[2017-06-27 15:47] BurtHarris commented on #326
Thanks for reporting this Fabian.   So far we've only been testing with an ES6 target: specifically Node.JS is the only environment tested to date.  Are you trying to build for browser execution?  That's on our future goals list.

I've just come back from  a vacation, and will have more time to look this over shortly, particularly the second problem you've reported, which sound strange.   If you c

[2017-06-28 18:21] BurtHarris commented on #326
@fdeitelhoff, I've not been able to reproduce the `SimplexContext is not defined` message, but guess you may be having problems with the tsc options.   Here's a minimal tsconfig.json that should work:

[code]

[2017-06-29 13:03] fdeitelhoff commented on #326
@BurtHarris Thanks for the info. This is my configuration at the moment:

[code]

Not quite sure if the es6 and es2016 are actually good to solve my previous error message or if this can cause other problems.

[2017-06-29 22:25] BurtHarris commented on #326
@fdeitelhoff,  Can you please share a repository that demonstrates the `SimplexContext is not defined ` message?

P.S. I've just discovered some incompatibilities with TypeScript@2.4.1, not sure if that's involved.

[2017-06-29 22:31] BurtHarris opened #327 "TypeScript 2.4.1 causes compile errors."
There is some enhanced type checking introduced in TypeScript 2.4, generating errors in the current source code.  For example:
[code]

Also the stub decorators like `@NotNull` aren't declared properly to be used as parameter decorators.

[2017-06-29 22:41] BurtHarris commented on #327
Microsoft/Typescript#16840

[2017-06-30 18:06] BurtHarris commented on #311
Here's the TypeScript issue that currently block a simple implementation of this Microsoft/TypeScript#3164.    Basically the capability to use JavaScript `for...of` loops to iterate our Java collection emulations is limited to ES2015 or greater.   This *isn't* going to get changed by the TypeScript team, for reasons explained in their issue.

With some understanding of why this would be useful, I

[2017-06-30 18:17] nehaagrawal commented on #311
Thanks BurtHarris for replying. There are multiple reasons we need ES5
1) We are using angular-cli for web development and there is no support for uglifyjs for ES6.The only way for us to make it work is to set target to ES5 in tsconfg.json
https://github.com/AngularClass/angular-starter/issues/853
https://stackoverflow.com/questions/41865131/ng-serve-prod-for-ng-cli-results-in-uglifyjs-syntaxerror

[2017-07-01 08:21] fdeitelhoff commented on #326
@BurtHarris You can use my "real" test repository: https://github.com/fdeitelhoff/Simplex-Game-Web

A clone and npm install should do the magic. There's a npm script that creates the grammar.

I'm currently on a conference and don't have the time & space to provide a special repository. But maybe you can reproduce the error with the "real" test repository.

Thank you for your help so far! Very app

[2017-07-01 14:39] BurtHarris commented on #326
@fdeitelhoff Thanks, I've started looking (and learning.)   No special repo needed, I'm interested in what you are doing.

For me, `npm install` generated no errors.   I also tried `npm run build` and `npm start` both of which looks successful as well.  Chrome against `localhost:4200` seems to give a functional editor.

I dropped a **try.ts** into **src** with the following content, still no error

[2017-07-01 14:42] fdeitelhoff commented on #326
@BurtHarris Oh sorry. I manually corrected the generated Simplex ANTLR4 code that's already in the repository.

Try this command to generate a new set of files: npm run antlr4ts

In the generated files there's the error.

[2017-07-01 14:51] BurtHarris opened #329 "Update codgen templates to supporess TSLint warnings"
TSLint has a few nits to pic with our generated code.   Adding a few comments to the templates will suppress them.    Here's my list so far:

[code]

[2017-07-01 15:37] BurtHarris commented on #326
My mistake on the tsconfig issue.   I've opened *#329 - Update codgen templates to supporess TSLint warnings*  to suppress the TSLint errors in our generated code that your example points up.

I've Temporarily suppressed them using `// tslint:disable`, but I've still not seen that **"SimplexContext is not defined**.

In Visual Studio Code's "Output" window for "tslint", I see this warning.   Could

[2017-07-01 18:59] #327 closed

[2017-07-01 20:48] BurtHarris commented on #308
Hi, @shaunburdick.   I think this is like the issue reported secondarily in #326.   Digging into it in that context, I'm thinking it may have been a TSLint (rather that TypeScript) error complaining about using a class before it's definition.   As I understand it, that's allowed in TypeScript, and as this is generated code I'm expecting to address it by suppressing the TSLint checks in the generat

[2017-07-01 21:28] BurtHarris opened #331 "@RuleVersion decorator"
The current state of decorators isn't very stable.   TypeScript implements a "stage 1" version of decorators, and the proposal has advanced with some significant changes.   I'm therefor a bit uncomforatable exposing decorators in our public API.

@sharwell, I don't fully understand the purpose of the RuleVersion decorator.   Could this be done some other way?

See #329 about decorators in generate

[2017-07-02 07:32] fdeitelhoff commented on #326
@BurtHarris Okay, weird. If I'm generating the new files with npm run antlr4ts and starting the application with npm run I got the error. But I got it within the browser, not within VS Code or somewhere else!

![simplex-error](https://user-images.githubusercontent.com/1618135/27768033-4b146eea-5f09-11e7-8412-5fb22e8cee2d.png)

[2017-07-02 18:14] BurtHarris commented on #326
Hmm, I don't know much about webpack, it's on my reading list...   Could this have something to do with that?

[2017-07-05 08:52] fdeitelhoff commented on #305
Is there somewhere a visitor example? Want to implement my own in TypeScript but I'm stuck. :(

@mike-lischke Maybe you can give me a hint how you implemented it?

[2017-07-05 09:53] mike-lischke commented on #305
@fdeitelhoff Sure, look at my `RuleVistor` [implementation](https://github.com/mike-lischke/antlr4-graps/blob/master/src/RuleVisitor.ts).

[2017-07-05 10:07] fdeitelhoff commented on #305
@mike-lischke Thanks.

Looking at your example I'm not sure what I'm missing. I have the visitor call:

[code]

And my own visitor implementation:

[code]

But no output is visible. I know that I have to call the visit methods I needed (in contrast to the listener) but what am I missing? Should the visit method not call something?

[2017-07-05 12:43] BurtHarris commented on #305
Not necessarily how I want it implemented, I'm convinced the "tryGet" stuff is bogus.   Sam and I just haven't finished working it out yet.   Please be patient.

[2017-07-05 13:17] BurtHarris opened #334 "Branching model - GitFlow?"
@sharwell, Sorry if this is old-hat for you, I still feel like I'm playing catch-up on Git and related techniques.  Are you familiar with this?   Shall we adopt & doc in CONTRIBUTING.md?

I've been looking for a Git based branching model like the one I've used with Perforce/SourceDepot.   I think I've found in [Vincent Driessen's branching model](http://nvie.com/posts/a-successful-git-branching-mo

[2017-07-05 13:27] mike-lischke commented on #305
@BurtHarris ah, didn't know you're still thinking about it. In my editor extension invalid syntax is the normal case and I must be able to get as many symbols as I can, so I have to be prepared to handle any missing parse context.

@fdeitelhoff Hm, difficult to say without full code. These functions are now implemented as (optional) properties, I'm not sure if you can just override them like norma

[2017-07-05 14:03] BurtHarris commented on #305
@mike-lischke, @fdeitelhoff  see issue **#196 Doing away with BaseListener classes** for background on those optional methods.   (The idea got extended to Visitors as well.)

We are still open to feedback on this, the idea seems good but there may be some adjustments needed to refine it.

Due to JavaScript's lack of synchronous I/O operations, how to adjust the style of ANTLR parsers to support as

[2017-07-05 21:13] fdeitelhoff commented on #334
I'm using git-flow together with GitKraken. This tool has a nice integration if git-flow and I'm happy with it.

[2017-07-06 21:35] sharwell commented on #334
Git in general is hard enough for the average contributor to understand already. To me and in the context of this project, git-flow doesn't solve any problem that it doesn't also make up (meaning it doesn't provide any advantage over the current workflow). On the other hand, it introduces substantial complexity which makes it harder for people to participate in the project.

[2017-07-07 00:33] BurtHarris commented on #334
@sharwell as I see it, the problem is Git doesn't define a workflow, it's starkly *un*opinionated on how branching should be used leaving room for discrepancies between contributors.    I think that's part of the reason Git is hard for the to understand.

For example, how should branching tie into the release process.   When does the package.js version number get incremented, and to what?   That's

[2017-07-07 02:33] sharwell commented on #334
It gets incremented in the same commit which gets tagged for release, and the **-dev** suffix is removed or changed to a different pre-release indicator. The next commit changes the version number back to having the **-dev** or **-SNAPSHOT** suffix to indicate that the commit is no longer a release commit.

At this point it doesn't really matter as long as the major version is 0. Eventually it doe

[2017-07-07 04:04] mike-lischke commented on #334
In my team we followed the git-flow approach to some extend and it worked well for us. However, it's not so special as it may sound. After all you always branch for new features (it's cheap in git so you do this even for smaller changes) and you have your working branch as usual. The only thing where processes differ is whether you use ˋmasterˋ for that or another branch (ˋdevelopˋ here). For quit

[2017-07-07 16:00] BurtHarris commented on #334
Thanks @mike-lischke.   I think separating **master** from **develop** is primarily for the benefit to someone playing a *casual observer* role on the repository, rather than a real contributor.   For them, the master branch is the one most likely of interest, it gives them the highest chance of getting source code that matches up with a package they've installed from https://npmjs.com rather that

[2017-07-08 05:25] yifanwu commented on #305
Hi, this might be a silly question but when I was extending the visitor I had to add the following (`visit`, `visitChildren` etc) for Typescript not to complain...

I saw the code @mike-lischke linked [here](https://github.com/mike-lischke/antlr4-graps/blob/master/src/RuleVisitor.ts) but wasn't sure if `extends AbstractParseTreeVisitor<string>` applies to normal uses of antlr --- it seems like the

[2017-07-08 05:56] sharwell commented on #305
So I think I finally figured out what the expected behavior here should be. From what I can tell, whenever input is successfully parsed there is no problem with the way the tree nodes are implemented.

In addition, there never appeared to be any disagreement that the current definition of the tree nodes was inaccurate. The only problem was a question of usability in the case of processing inputs w

[2017-07-08 06:16] BurtHarris commented on #305
@yifanwu, thanks for speaking up.   As I understand it, using `extends AbstractParseTreeVisitor<Result> on your visitor class` *conceptually* is optional, but you will probably want to do it no matter what grammar you are supporting.   If you don't extend from `AbstractParseTreeVisitor<Result>` you would need to provide your own implementations of `visit`, `visitChildren`, `visitTerminal`, and `vi

[2017-07-08 23:36] yifanwu commented on #305
Hey @BurtHarris thanks for explaining --- I added the `extends` and also the `defaultResult` and it appears to be working.

Wrt the object literal implementation --- I don't think I'm familiar enough to chive in there --- I was more thinking of helping create a calculator example with the visitor pattern for documentation.  Let me know if that'd be useful.  It does seem a bit different from the c#

[2017-07-09 18:08] fdeitelhoff commented on #305
@yifanwu A more or less complete visitor example would be very useful. I'm still stuck while implementing it.

Maybe you an send it via a Gist so we can discuss it? Hopefully there will be a complete example at the end of our discussion so we can send a PR.

Thanks!

[2017-07-10 01:43] BurtHarris opened #335 "Consider: switch from npm to yarn"
Since upgrading to npm version 4, and *especially since npm version 5* I've been encountering repeated problems with the npm client tool.   Without getting into frustrating specific, it seems like npm has become unstable and performance seems to be dropping and inconsistant.

There *is* an alternative package manager client, [**yarn**](https://yarnpkg.com/en/), which based on some limited experime

[2017-07-10 03:21] BurtHarris opened #336 "asIterable (from Stubs.ts) should be eliminated"
The collections it's used on should implement the Iterable protocol.

Some background.   There are a number of collection classes in the *misc* directory that have been ported from Java implementations.   They all have Java style iterators, which was done to minimize code change during the porting process, but the intent has never been to keep that.

The job here would be to switch to JavaScript s

[2017-07-10 04:34] BurtHarris opened #337 "Build speed impacted by number of test files"
The TypeScript compiler running on files in the **test** directory is currently the slowest part of the build process.   Including the generated files, there are now 1,503 .ts files under **test**, with each generated test consisting of five .ts files.

As a workaround I've been experimenting with Gulp, which can trim the amount of work after the initial build by skipping files that haven't change

[2017-07-10 04:36] BurtHarris commented on #204
For integration into a streaming build system like gulp, it would work best if the tool could output a single file optionally sending it to stdout.

[2017-07-10 04:38] BurtHarris opened #338 "ode ."

[2017-07-10 04:38] #338 closed

[2017-07-10 04:38] BurtHarris commented on #338
typo

[2017-07-10 17:25] sharwell commented on #337
That issue would reduce the number of *files*, but wouldn't necessarily improve build times for two reasons:

1. The content would be roughly the same. At best, a couple of insignificantly-sized imports would be removed.
2. If the analysis in super-linear in the size of the input files, consolidated files may prove slower.

I would only really expect consolidation to resolve build speed issues if

[2017-07-11 08:12] fdeitelhoff commented on #326
@BurtHarris Sorry, late reply. I'm not into webpack that much, too. It is possible that the packing is the source of the problem. But hard to say in the current scenario.

But I assume that you've reproduced the error? Just to conform that I'm not stupid. :)

[2017-07-11 08:15] fdeitelhoff opened #339 "Starting Points for Contributors"
This is rather a question/discussion than an issue.

I would love to contribute to the TypeScript target. I'm planning to include the project in my PhD and various side projects. Is there any way one can more or less easily get into this project to contribute in some ways?

Other OSS projects use labels like "up-for-grabs" or something similar to tag easy tasks for new contributors. This is a grea

[2017-07-12 17:43] BurtHarris commented on #339
Great, we could use the help Fabian.   We do have an "up-for-grabs" tag, we just need to start using it a bit more.   I'd be happy to help get you started, and knowing someone's there to review will motivate me to finish up some work I've got close-to-ready.

@sharwell has a new job that's I suspect is taking up a good bit of his time (I can guess having worked for the same organization myself.)

[2017-07-12 18:01] BurtHarris commented on #326
Frankly I don't remember if I've reproduced the error right now, but I'll take a look again.
--

[2017-07-13 08:00] fdeitelhoff commented on #326
@BurtHarris No problem. Don't worry and don't hurry. :)

My language is 99% fixed so there's no real need to generate it over and over again. Therefore the manual fix is fine for me.

But we should investigate in more detail if we might think this could be a general problem.

[2017-07-13 17:33] BurtHarris opened #340 "Deprecating antlr4ts import with paths"
Breaking Change in Imports Planned
================
Imports of antlr4ts runtime classes will need to change.   In the future, this should simplify matters so that imports from the antlr4ts public API can be combined and simplified, something like this:

[code]

Background
-------------
In the current alpha-quality prerelease, it's sometimes been necessary to use multi-part paths when writing impor

[2017-07-13 17:50] sharwell commented on #340
It's already possible to do this:

[code]

I don't understand the need/desire to flatten the namespaces further.

[2017-07-13 17:57] BurtHarris commented on #340
In short it's really a matter of reduced coupling, both of source files and generated file location.   This has has been a pain in the ass for me.    E.g. the current approach leads to a root directory of the package having transpiled files in it, while the general practice for javascript packages seems to be to have a `/lib` (or similar) directory, but in order to do that we'd need to change the

[2017-07-13 17:59] sharwell commented on #340
What benefit would we have by moving the transpiled files into a `lib` folder? It seems like the result would be the same as what we have now, except users would have to add `/lib` to their import lines.

[2017-07-13 18:08] BurtHarris commented on #340
Yes, but I really *don't* want things like `import {Overload} from 'antlr4ts/Decorators'` to continue to work.   Files like that should be completely private, but that's pretty much impossible in JavaScript.   By introducing a lib folder, way someone would need to change their code to `antlr4ts/lib/Decorators`, and that's something I think we document as an anti-pattern.

[2017-07-13 18:10] BurtHarris commented on #340
P.S. Moving the transpiled files into `lib` would be the second-part of the two-phase deprecation.

[2017-07-13 19:20] BurtHarris commented on #340
@sharwell, We both understand the what you mean by importing from files vs folders, but that doesn't mean its an obvious distinction, or easily checkable.   After all, importing from folder really means something like *"importing from a file named index.ts (or .js) in a folder, except for a package-level import where it could mean something different depending on what's in package.json".*

For exa

[2017-07-13 20:22] sharwell commented on #340
@BurtHarris I understand the motivation, but one thing to remember is the original code was never particularly well designed on this particular front. For example, there are several parts of the Java code which expose mutable fields as part of the public API (almost universally seen as a bad practice). I'm not trying to use the TypeScript target to fix these specific issues.

I believe the current

[2017-07-13 21:18] BurtHarris commented on #340
Sure I remember.  The original code was in Java, a language that seems to unusual lengths enforce a file == class mantra, that simply isn't applicable in less class-centric languages.   That's one of the main reasons I never got active in ANTLR prior to this project: Java grates on me.      Its that sort of grating feeling that Java's API model that I want to address now as part of ts-style, not i

[2017-07-19 23:05] petermetz opened #341 "{{grammarName}}Parser Typescript Class Should Be After the rule contexsts"
Hiya,

This tool is a godsend, thank you very much for it!

I was giving this grammar a spin when I found out that the decorators generated (@RuleVersion) depend on the parser class being declared below them in the .ts file (which is not the case).

I could fix it manually by going in to the generated typescript file and putting the parser class at the very end, but I suck at this JST syntax and c

[2017-07-26 15:47] sharwell commented on #261
@mike-lischke @BurtHarris I filed antlr/antlr4#1972 to really truly fix this the right way. Once the new error recovery strategy is implemented, 1) the `tryGet*` methods can all go away, 2) the accessors can be used in visitors for both correct and incorrect code, and 3) the methods can continue throwing exceptions when used incorrectly.

[2017-07-27 00:04] BurtHarris commented on #341
Ahh, thank you @petermetz.   This sounds familiar, some other people have reported similar sounding problems I hadn't yet reproduced it or connected it to the decorators and order in the file.   I'll have a look at this with that added information.

[2017-07-27 00:09] petermetz commented on #341
@BurtHarris Awesome, thanks very much for checking on it! Once the template is sorted out I'll also submit a PR with [this](https://github.com/petermetz/antlr4ts/commit/c05803715a63d7c59412a98f6c6cf0e7521f3cb1)
You may or may not be interested, but I did manage to get the parser up and running in a browser environment (which was huge for me) and figured it should be given back to the community.

[2017-07-27 01:36] BurtHarris commented on #341
@petermetz, to be clear, when you said

Was this the problem message:

   c:\try\soql\SOQLLexer.js:30
        var _this = _super.call(this, input) || this;
                           ^

    TypeError: Class constructor Lexer cannot be invoked without 'new'
        at new SOQLLexer (c:\try\soql\SOQLLexer.js:30:28)
        at Object.<anonymous> (c:\try\soql\main.js:8:11)
        at Module._compile (

[2017-07-27 01:40] petermetz commented on #341
@BurtHarris Nope, I was having issues with the Parser class not being defined at the point in the code that was creating/setting up the decorators.

[2017-07-27 02:10] BurtHarris commented on #326
Update:  the original problem, message saying **TypeError: Class constructor Lexer cannot be invoked without 'new' ** is caused by a mismatch between the code generation target we used for building the `antlr4ts` runtime (which was es2015) and occurs when its called from code transpiled using the default target (which is es5).

JavaScript native `class` support is used when the target is es2015, a

[2017-07-27 02:28] BurtHarris commented on #341
@petermetz Then exactly what problem is it.   Is there an error message?  From what tool, or is it at runtime?

The thing that's got me puzzled is there really shouldn't be an order dependency, and I still haven't got a clear isolated repro case.   Seems related to #326, #310, #283, I know that in #326 @fdeitelhoff was also trying to get this working in a browser.

I'm afraid this may be related t

[2017-07-27 02:47] petermetz commented on #341
@BurtHarris Thanks again for checking on this and spending so much effort to make sure its covered.

I pushed my local test bench here, hopefully you can reproduce it with this: https://github.com/petermetz/antlr-4-ts-test
just by simply running
`npm install; npm run antlr; npm start`

NodeJS 8 is being used on my machine at the moment.

Should crash with something like this below:

`
ReferenceErr

[2017-07-27 16:10] BurtHarris commented on #311
More notes on a possible solution:  The new feature in TypeScript 2.3 that may enable this is the `--downlevelIteration` compiler option.    See https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript.

[2017-07-27 23:20] BurtHarris commented on #341
Great.   I'll have a look at that this evening (pacific time)

[2017-07-29 02:16] WaiSiuKei commented on #341
I meet the same proble
1. use [this file](https://github.com/GeorgDangl/antlr-calculator/blob/master/Calculator.g4) to generate the parser
2. you will get this
[CalculatorParser.ts.zip](https://github.com/tunnelvisionlabs/antlr4ts/files/1184565/CalculatorParser.ts.zip)
3. the code compiled by Typescript (target: es6) will be
[CalculatorParser.zip](https://github.com/tunnelvisionlabs/antlr4ts/files

[2017-07-29 03:53] BurtHarris commented on #341
OK, I was tied up on another project, I haven't gotten a chance to dig into it yet, but will soon.

[2017-08-04 16:59] TristanGaydon commented on #311
@nehaagrawal not sure if this will help, but I was able to work around this issue using Babel to transpile the antlr4ts ES6 to ES5.

We use Webpack2 and I was able to get it working with a config like this;

[code]

[2017-08-11 08:48] uwesimm opened #342 "overriding emit fails"
hi,

apparently i'm unable to override Lexer::emit and i cannot really make sense out of it.
i'm getting a

[code]

you may try https://github.com/uwesimm/antlr4ts-issue

(if this is a user failure or lack of my typescript knowledge please let me know)
/uwe

[2017-08-11 16:22] sharwell commented on #342
Your override has to handle both `emit` signatures:

[code]

It might look like this:

[code]

[2017-08-16 09:40] #342 closed

[2017-08-16 09:41] uwesimm commented on #342
that works.

[2017-08-16 09:42] uwesimm commented on #341
same issue here, a fix or a workaround would be welcome

[2017-10-05 21:23] marjan-georgiev commented on #326
@BurtHarris is there any way to fix the `Class constructor Lexer cannot be invoked without 'new'` without changing the target to `es2015`? We are using angular 4.x, and it is currently not supporting `es2015` as a build target. (https://github.com/angular/angular/issues/15127)

I would be open to manually changing the generated antlr files if that would help.

[2017-10-28 04:04] chetmurphy commented on #341
I am able to work around the issue by manually moving the Parser class to the bottom of the generated Parser file. Kind of a pain since I keep forgetting to edit the file.

[2017-11-04 17:44] parrt commented on #306
@sharwell I added `-Xexact-output-dir` option to fold in a fix to output dir. See https://github.com/antlr/antlr4/pull/2065

[2017-12-03 14:55] adityapurwa commented on #305
There is no `AbstractTreeVisitor` inside antlr4ts, am I missing anything?

[2017-12-03 14:58] mike-lischke commented on #305
The class is `AbstractParseTreeVisitor`.  See Sam's answer to my initial question.

[2017-12-03 14:58] #305 closed

[2017-12-09 12:09] entropitor commented on #251
I seem to have this problem with https://github.com/antlr/grammars-v4/blob/master/brainfuck/brainfuck.g4 as well

[2017-12-14 23:25] BurtHarris commented on #303
@sharwell it sounds like this new `-Xexact-output-dir` option is the key to addressing this issue.

I suspect taking advantage of it will be easy, but I've forgotten how to go about merging in and update from the antlr4/antlr4 repository.   Any pointers to details?

[2017-12-14 23:37] BurtHarris commented on #326
@marjan-georgiev, frankly I don't know.

Supporting multiple targets in a complex TypeScript package like this seems like something there should be best practices on, but as of now I'm not sure what they are.   I think it's tied into supporting browser-based execution, and I've simply not done browser coding for ten years or more.    If you're an Angular user, you may have a better idea on how to

[2017-12-15 00:51] BurtHarris opened #343 "Use webpack to build browser-targeted distribution"
Longstanding issue #311 seems best addressed using a the Webpack build tool.

[2017-12-15 01:06] BurtHarris opened #344 "error TS2358 building w/ webpack"
Initial snag: when building w/ webpack (while prototyping #343)

src/atn/LL1Analyzer.ts(253,10): error TS2358: The left-hand side of an 'instanceof' expression must be of type 'any', an object type or a type parameter.

This seems to be because TypeScript has decided the type of `t` on this line is `never`.   This seems to be a determination by the type checker that the code is unreachable.

[2017-12-16 19:23] jessezhang91 opened #345 "TS 2.6 `strictFunctionTypes` causes compilation error with `RuleVersion` decorator"
TypeScript 2.6 introduced the compiler option `strictFunctionTypes`. The generated ANTLR4 TypeScript code has a compilation error with the `RuleVersion` decorator due to the `ParserRuleContext` in the `TypedPropertyDescriptor` in its declaration.

I think the way to fix it is:

In: https://github.com/tunnelvisionlabs/antlr4ts/blob/5bdb06c3fa458fd07f0fad67b33903b85b41e9bc/src/RuleVersion.ts#L15-L20

[2017-12-16 22:02] BurtHarris commented on #345
Thanks for reporting this @jessezhang91.   I'm looking at another typescript 2.6 issue when building the package right now, so I'll try to tackle them both.

By the way, typescript errors are non-fatal (perhaps they should be considered warnings.)

[2017-12-16 23:07] BurtHarris opened #347 "TSC 2.6 reports error in LL1Analyzer.ts"
New error when built w/ TypeScript 2.6:

[code]
It seems that the variable `t` at this line has a type of `never`, which seems like a bug in TypeScript!

It looks like this has given us trouble before because an earlier line has a cast in it.   I've inserted a more robust workaround.

[2017-12-16 23:24] BurtHarris commented on #345
Thanks for the fix, @jessezhang91, it looks good to me.    Impressive work.

[2017-12-16 23:52] jessezhang91 commented on #345
Thank you for looking into it and supporting this library!

[2017-12-20 18:25] Ciantic commented on #341
Manually moving a generated parser to last in the file works. I wonder if some are not getting this dependent on environment.

I'm using a webpack.

[2017-12-22 00:51] BurtHarris commented on #341
Interesting observation about  `emitDecoratorMetadata : false` avoiding this issue.   That seems significant.    I wonder if this has anything to do with the issue flagged by TypeScript 2.6 in issue #345.

[2017-12-23 18:31] BurtHarris commented on #341
@ciantic, I'm guessing that the fix of disabling `emitDecoratorMetadata` applies when building the generated code for your own grammar rather than the runtime.   Can you point me at a grammar file that reproduces this?

[2017-12-28 20:02] BurtHarris opened #348 "message TS4090: Conflicting definitions for 'node' found ..."
Build of tsc 2.6 branch generates the following error:

message TS4090: Conflicting definitions for 'node' found at 'C:/code/antlr4ts/node_modules/@types/node/index.d.ts' and 'C:/code/antlr4ts/node_modules/@types/mocha/node_modules/@types/node/index.d.ts'.  Consider installing a specific version of this library to resolve the conflict.

[2017-12-28 23:44] BurtHarris opened #349 "Emulation for Java Character class in generated lexers"
It seems like otherwise-portable lexers in the ANTLR communality frequently use something like this (from LexBasic.g4):

[code]

Unfortunately this generates code that doesn't work in antlr4ts.   There are three problems:
1)  References to `_input` need to be prefixed with `this`.
2) The class `Character` doesn't exist in ECMAScript/TypeScript
3) The cast `(char)` doesn't work in ECMAScript/TypeSc

[2017-12-28 23:49] BurtHarris commented on #349
One possible solution might be to have the code generation tool apply some simple transforms to any code it encounters.    A simple regex `s/\(char\)/<number>/` might do a world of good.

[2017-12-29 21:40] ChuckJonas commented on #349
+1, as this issue threw me off when I first tried to use antlr4ts

[2017-12-31 22:49] #347 closed

[2017-12-31 22:54] BurtHarris opened #354 "Test timeout running TestLexerExec.testLargeLexer on travis-ci.org"
See https://travis-ci.org/tunnelvisionlabs/antlr4ts/builds/323656230#L2040

[2017-12-31 23:00] BurtHarris commented on #354
This test runs in 300 ms on my windows machine.   Timing out after 20,000 ms on travis-ci.

[2018-01-01 02:16] #345 closed

[2018-01-09 14:17] emazv72 commented on #341
@Ciantic @BurtHarris  Thanks for pointing me to the right direction, I'm having the same issue ( typescript 2.6.2):

Running a simple script like this

[code]
I get

[code]

Setting `emitDecoratorMetadata` to `false` ( only for the second line of the script) fixed the issue:

[code]

I can provide the complete project to reproduce the issue if needed.

[2018-02-05 15:58] mike-lischke opened #355 "Parent conflict between `RuleContext` and `ParseTree`"
The class `RuleContext` introduces a specialized parent member, which is not compatible with the parent member used in `ParseTree`. This make it impossible to use a common `ParseTree` member variable, e.g. in a symbol table, for both rule contexts and terminal nodes. In Java und C++ this is possible without problems.

[2018-02-05 16:05] sharwell commented on #355
💭 The intent was this member would be usable in the manner it seems you are describing.

Can you put together a small sample showing the incompatibility? I'd like to add it as a test so we can validate a fix and prevent regressions.

[2018-02-05 16:17] mike-lischke commented on #355
The easiest is probably to check out the debugger branch from [antlr4-graps](https://github.com/mike-lischke/antlr4-graps/). This is what I get in vscode:

![vscode-errors](https://user-images.githubusercontent.com/2398704/35815284-6846c798-0a98-11e8-9e07-66d47f5bae62.png)

[2018-02-05 16:29] mike-lischke commented on #355
Hmm, weird. While trying to put together another example I cannot reproduce the problem:

    it.only("Parse Tree Parent Test", function () {
        let symbolTable = new c3.SymbolTable("Temp", { allowDuplicateSymbols: false });
        let classSymbol = symbolTable.addNewSymbolOfType(c3.ClassSymbol, undefined, "classX");
        let context: ParserRuleContext | undefined;
        classSymbol.con

[2018-02-05 18:30] mike-lischke commented on #355
Meanwhile I believe it's a Typescript problem. The code runs fine without any problem.

[2018-02-07 16:56] mike-lischke commented on #355
I tried to cast the context to a `ParseTree`, only to get this error:

severity: 'Error'
message: 'Type 'ParseTree' is not assignable to type 'ParseTree | undefined'.
  Type 'ParseTree' is not assignable to type 'ParseTree'. Two different types with this name exist, but they are unrelated.
    Types of property 'parent' are incompatible.
      Type 'ParseTree | undefined' is not assignable to type

[2018-02-07 17:28] mike-lischke commented on #355
It's a Typescript problem caused by a linked node module.

[2018-02-07 17:28] #355 closed

[2018-02-07 18:04] sharwell commented on #355
That has been a frustratingly common statement at the end of too many things I've tried.

[2018-02-11 10:18] pluthraarkin commented on #326
Are there any updates on es5 support for antlr4ts? We also need it for our project.

[2018-02-15 22:42] BurtHarris commented on #326
Sorry, I think both Sam and I have been busy with other matters.    We could really use at least one more developer who has skills and interest to contribute some to the project.

[2018-02-15 22:45] BurtHarris commented on #355
@mike-lischke are you saying it is due to use of the npm link feature?

[2018-02-16 08:38] mike-lischke commented on #355
@BurtHarris Yes, that's the reason. I frequently use that to link my node/vscode projects together. However, both antlr4-graps as well as antlr4-c3 have a dependency to antlr4ts and with npm links the TS transpiler not only sees JS files, but all the TS sources as well. Hence the trouble.

[2018-02-20 02:43] BurtHarris commented on #355
@mike-lischke  thanks, I think I understand, where both the original .ts and .d.ts files become visible.

I've worked on a couple of solutions for that but got a bit frustrated with the complexity.   I'll try to resurrect and review the branches where I addressed this, and see if I can isolate just the changes needed to avoid the problem.

[2018-02-20 07:59] mike-lischke commented on #355
It's not the original antlr4ts source. In both cases we only have the type definitions (each one included by a node module I wrote).

However, it's not a big deal. Not ideal, but I can copy the JS/TS files manually if needed. It's only extra work for changes I haven't published yet. Much more important would be to get an antlr4ts 1.0 ;-)

[2018-03-01 14:39] mike-lischke opened #356 "Profiling unsupported"
Now that I have my vscode debugger almost ready I wanted to add profiling support for grammars, only to get an exception that this is not supported. What are your plans wrt to this? What's missing for profiling a grammar?

[2018-03-01 14:43] sharwell commented on #356
What exception did you get? I would need to look back at the way profiling is implemented for other targets to see what's needed here.

[2018-03-01 14:46] mike-lischke commented on #356
The code is here: https://github.com/tunnelvisionlabs/antlr4ts/blob/master/src/Parser.ts#L860. Looking at the [ProfilingATNSimulator](https://github.com/tunnelvisionlabs/antlr4ts/blob/master/src/atn/ProfilingATNSimulator.ts) gives the impression that it would be ready to use. Only the parser needs to be enabled for that.

[2018-03-01 15:01] mike-lischke commented on #356
I enabled profiling locally and it looks pretty good:

![antlr4-profile](https://user-images.githubusercontent.com/2398704/36851568-c8ae75e8-1d69-11e8-84a7-d83f78c1d790.png)

Only a few things are missing (input and DFA for example).

[2018-03-01 19:33] sharwell commented on #356
This target is based on my optimized fork, similar to tunnelvisionlabs/antlr4 and tunnelvisionlabs/antlr4cs. Most of the changes are documented here:
https://github.com/tunnelvisionlabs/antlr4/blob/master/doc/optimized-fork.md

[2018-03-01 19:36] sharwell commented on #356
Awesome. I totally forgot we integrated this into the runtime. I believe it's derived from work originally done for ANTLRWorks 2 in the early days of ANTLR 4.

[2018-03-15 11:37] frezziii opened #357 "Can't compile with '"module": "amd"'"
I get following errors if I try to compile it with amd-target:

src/tree/xpath/XPath.ts(89,9): error TS2339: Property 'recover' does not exist on type 'XPathLexer'.
src/tree/xpath/XPath.ts(91,9): error TS2339: Property 'removeErrorListeners' does not exist on type 'XPathLexer'.
src/tree/xpath/XPath.ts(92,9): error TS2339: Property 'addErrorListener' does not exist on type 'XPathLexer'.
src/tree/xp

[2018-03-16 21:23] pedroteixeira commented on #341
Had the same issue. Manually moving the class definitions before they are referenced seems to fix the compiler issue.

[2018-03-16 21:30] pedroteixeira commented on #308
I'm having the same issue with typescript 2.7.1
Disabled tslint did not fix, only re-ordering the classes definitions in the generated file.

[2018-03-17 13:44] pedroteixeira commented on #341
I ended up running a fix script, posting here in case might be usefull for someone else (you'd have to replace some of it):

[code]

[2018-04-15 16:39] pedroteixeira commented on #341
btw, I created an issue in the Babel repo for something that affects this library right now

[2018-04-23 00:44] BurtHarris commented on #341
@pedroteixeira I'm not sure exactly what the babel/babel#7736 has to do with this.    I've not gotten into babel at all.    Is this something a fix in this codebase could help with?    Does it deserve a separate bug?

[2018-04-23 00:56] BurtHarris commented on #308
I've really not had time to work on this myself, but reordering the class definitions would be implemented in the file **TyepScript.stg**, which is in the StringTemplate language.   I know that there is a PR #358 pending on that file from @ydarias that seems quite simple, I don't know but his fix *might* help the problem you are having.

I'm really hoping to recruit some additional coders who actu

[2018-04-23 00:59] BurtHarris commented on #357
'XPathLexer' is the one piece of code where we use the code-generation tool in building the runtime library, so I'm guessing this is some sort of build-order problem.

[2018-04-23 19:04] BurtHarris commented on #354
Looks resolved, closing

[2018-04-23 19:04] #354 closed

[2018-04-26 04:19] pedroteixeira opened #359 "lineTerminatorAhead example"
Hi, could give you me hints on how to implement the following lineTerminatorAhead in this typescript target?
https://github.com/antlr/grammars-v4/blob/master/javascript/CSharpSharwell/JavaScriptBaseParser.cs#L72

I tried to port with no success :/

thanks!

[2018-04-26 16:04] BurtHarris commented on #359
I'll give it a shot.

[2018-05-09 18:46] BurtHarris opened #360 "Using ECMAScript generators for parse functions"
TypeScript/ECMAScript [generators ](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Generator ) can be used for a asynchronous parser based on coroutines without much overhead.    The advantage of this is that it disconnects us from the Java stream mechanism, which was designed for environments supporting multiple threads, and allows native NodeJS streams to be use

[2018-05-10 09:10] mike-lischke commented on #360
I haven't worked with JS generators before (but know a similar concept from C#). They appear to me more like syntactic sugar. Yes, I can imagine to convert the lexer into a generator, but the executed work is the same and usage only changes in used function calls (`next` vs. `nextToken`), no?

[2018-05-10 19:49] BurtHarris commented on #360
You may understand this, but as I understand it, in ECMAScript, `async`/`await` is actually syntactic sugar over Promises which are themselves sugar on top of generators and `yield`.  But there are other ways to use `yield`.

Perhaps my initial description focused too much on low-level detail of generators.   At the highest level, this approach enables using the non-blocking node.js streams progra

[2018-05-14 07:17] mike-lischke commented on #360
Hmm, would that work with the ALL(*) algorithm and potentially unlimited lookahead? Additionally, we need random seek in certain intervals. That doesn't work well with simple pipes.

[2018-05-16 07:38] BurtHarris commented on #360
*Potentially* unlimited lookahead.   I'd expect the actual lookahead in most cases is very limited.   I would expect to have something equivalent to the `mark()`/`release()` mechanism available to keep track of how much lookahead is in use.   If we get into a situation where a `mark` hasn't been released, obviously the memory requirements would grow.

But consider parsing something simple, but pot

[2018-05-16 08:09] BurtHarris commented on #360
Just noticed [tsouza/yajs ](https://github.com/tsouza/yajs/wiki/Getting-Started)which appears to be looking for something along the lines I'm proposing.   The author has a dependency on antlr4ts, but it doesn't look like it's been integrated.

[2018-05-16 14:05] mike-lischke commented on #360
I understand the desire to avoid having to load the entire into memory, however my bigger problem is that antlr4ts is still alpha and there has been no release since a long time. I wouldn't start even more changes, before there is a GA version first. And I really hope there will be one in the not too distant future. Keeping a project in alpha stadium over years is not a good sign for its livelines

[2018-05-19 14:32] sharwell commented on #359
Here's what I came up with.

[code]

[2018-05-19 14:33] #359 closed

[2018-05-19 14:58] sharwell commented on #340
I'm not necessarily opposed to moving some of the types up for higher visibility, but I don't want to include the entire API. In particular, most of the types in antlr4ts/atn and antlr4ts/dfa are only useful in advanced scenarios, and including them in the root import would be very noisy. Here are the remaining ones:

* antlr4ts/misc: rarely used, probably just noise
* antlr4ts/tree: commonly used

[2018-05-19 15:11] sharwell commented on #359
For reference before deleting the file locally, here is the entire translation I came up with:

[code]

[2018-05-19 17:00] BurtHarris commented on #360
Agreed.   I'll add a tag for such post-v1 topics.

[2018-05-19 17:09] #331 closed

[2018-05-19 18:05] BurtHarris commented on #340
@sharwell, Yes, I think exporting  antr4ts/tree/index.ts by default would be a big positive step.   I'll give it a try then dust off the cobwebs and reply further.

[2018-05-19 18:14] BurtHarris commented on #320
Will track in the future under asynch

[2018-05-19 18:14] #320 closed

[2018-05-21 08:13] #293 closed

[2018-05-21 08:14] #299 closed

[2018-05-21 08:14] #300 closed

[2018-05-21 08:16] BurtHarris commented on #295
Actually this one is still in there...

[2018-05-21 08:17] #296 closed

[2018-05-21 08:20] BurtHarris commented on #297
The comment-based disable of this is still present in TypeScript.stg

[2018-05-21 16:12] sharwell commented on #341
💭 Need to figure out if this is still an issue with #361 merged.

[2018-05-24 03:48] #356 closed

[2018-05-24 05:17] sharwell commented on #295
Yep I left this one.

[2018-05-24 06:57] sharwell commented on #349
This should either be implemented as a target-language-agnostic DSL for grammar predicates/actions, or not be implemented at all. The proposed implementation introduces risk of breaking actions written in the correct target language, and may or may not work for any given action (a maintenance and usability nightmare).

The current implementation doesn't support rewriting actions automatically into

[2018-05-24 06:58] sharwell commented on #349
:memo: See https://github.com/tunnelvisionlabs/antlr4ts/pull/350#issuecomment-391591958 for my take on the `Character` class.

[2018-05-26 23:54] #336 closed

[2018-05-27 00:16] BurtHarris commented on #295
Perhaps we should make these calls to `console.info()` rather than `console.log()`, but I don't know if that would silence tslint.

The gulp project has extracted a simple logging module called [fancy-log](https://www.npmjs.com/package/fancy-log) we might want to consider taking a dependency on.  The API is similar to console's but adds some simple timestamping.   I'm pretty sure tslint won't have

[2018-05-27 02:59] sharwell commented on #295
We have a few other options that seem viable as well:

* Remove the debug logging (can't remember the last time I used this), and exclude remaining things like the console logger from tslint
* Use some sort of injection approach to provide consolidated logging behavior

Since most of the code paths involved are disabled by default, it didn't seem to be too high a concern so far.

[2018-05-30 03:27] #15 closed

[2018-06-22 02:38] zhangchri commented on #348
delete other reference module, update package-lock.json config file

[2018-06-30 13:00] generateui opened #373 "v4.7 support"
Last time I checked, the typescript target only supported v4.6. What's the story on support for v4.7? I need v4.7 since I need the extended unicode support which I use in my syntax. I'm able to contribute somewhat to get it working, but it would be really great if some pointers can be given.

[2018-07-03 14:49] sharwell commented on #373
👍 This is very helpful information, since essentially everyone else can continue using 4.6 without much problem.

I haven't evaluated the difficulty of incorporating the 4.7 changes in this target. It was a very big challenge for the (optimized) C# target, but the (optimized) Java target which the TypeScript target is based on is already complete. Hopefully I can find some time over the holiday we

[2018-07-12 15:37] iwatakeshi commented on #303
Hi, I'm having a similar issue on MacOS when trying to build two .g4 files (one being the lexer and the other being the parser). The two files are located in a sub directory `src/tom/grammar`. When I run the build script `antlr4ts -visitor *.g4`, npm panics and displays the error:

`error(160): TomParser.g4:4:17: cannot find tokens file './TomLexer.tokens'`

It seems like antlr4 is looking at the

[2018-07-15 06:50] mike-lischke opened #374 "Installation from repo fails"
Currently it is not possible to build antlr4ts via `npm install`. Here's the output:

[code]

Seems that plugin cannot be loaded.

[2018-07-15 06:59] mike-lischke commented on #373
Would be very nice if the interpreter data addition from me makes it into the TS target. Currently I have to duplicate the ATNDesializer because the TS target uses a different ATN structure and cannot read the generated interpreter data from the standard ANTLR4 tool.

[2018-07-15 07:12] mike-lischke commented on #356
When can we get the fix, read: when will be the next official release?

[2018-07-15 11:04] sharwell commented on #374
Maven Central changed a security configuration recently: https://stackoverflow.com/a/50956622/138304

Will need to figure out the best way to handle it.

[2018-07-16 06:48] mike-lischke commented on #374
Can't you make the installation self-contained? Why is Maven needed to build the jar? I know you need an existing ANTLR jar for bootstrapping, but that can be included in the extension. No need to download it (it doesn't change that often).

[2018-07-16 13:56] sharwell commented on #374
@mike-lischke Conceptually it's no different from the build requiring access to npmjs. I could probably make an *offline* build work provided the dependencies were already present in the local Maven cache.

[2018-08-06 16:08] TheBoz commented on #341
Just came upon this tool while exploring ANTLR, looks very promising. I've got the latest copy of the tool (0.4.0-alpha.4) working with Angular 6, and came across this issue. Manually re-ordering the file does fix it, but I want to make my generation dynamic. and automatic. Has there been any progress on solving it?

[2018-08-30 18:45] jonfreedman opened #375 "Use same postfix underscore naming convention as antlr4?"
The [antlr4-autosuggest-js](https://github.com/oranoran/antlr4-autosuggest-js) library makes use of internal state to parse the ATN e.g. https://github.com/oranoran/antlr4-autosuggest-js/blob/master/autosuggest.js#L198 vs https://github.com/tunnelvisionlabs/antlr4ts/blob/master/src/atn/AtomTransition.ts#L17

It would be great if this library remained compatible in that sense with antlr4 itself.  I

[2018-09-08 22:34] sepp2k opened #376 "Illegal code generated for actions when using element labels and +="
If I define an element label `foo` using `+=` and then use `$foo` in the action, the generated code will try to access `_localctx.foo`, which does not exist. Consequently the generated code does not compile.

If I change it to `$_foo` instead, ANTLR tells me that no attribute with that name exists and doesn't generate any code. If I change it so that `foo` is defined using `=`, the generated code

[2018-10-05 18:55] johnholliday commented on #341
This is still an issue as of version 6.4.1.  The fix for me was also to set 'emitDecoratorMetadata' to false.

[2018-11-03 00:52] ChuckJonas commented on #251
@BurtHarris @sharwell is there any way to address this? I'm attempting to parse [this grammar](https://github.com/mulesoft/salesforce-soql-parser)

[2018-11-03 01:01] ChuckJonas commented on #251
looks like turning off `strict:true` in the `tsconfig.json` fixes this

[2018-11-23 00:13] BurtHarris commented on #374
I'm not seeing it on my Windows 10 machine, but it I haven't updated things like Java & Maven recently.

Could this be dependent on Maven or Java versions?

'''
C:\code\antlr4ts>mvn -v
Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-10T08:41:47-08:00)
Maven home: C:\tools\apache-maven-3.3.9
Java version: 1.8.0_112, vendor: Oracle Corporation
Java home: C:\Program Files\Java\j

[2018-11-24 22:18] sharwell commented on #375
This library is based (via a port) on my optimized Java runtime, which uses a different ATN representation and the prediction algorithm is almost completely independent of the one in the reference runtime. There is no practical way to achieve API alignment between the two since the internal representation of data is completely different.

[2018-11-26 12:48] sharwell commented on #374
I didn't have any trouble building after following the instructions in #378

[2018-11-26 12:56] sharwell commented on #348
This was not reproducible for me on a clean clone and build this weekend.

[2018-11-26 12:56] #348 closed

[2018-11-26 16:52] mike-lischke commented on #374
Unfortunately, I forgot where to find the instructions to build the antlr4ts jar. So I tried to run `npm install` in the antlr4ts repo folder. This runs through until the end of the tests (which succeed). After that it fails with:
[code]

[2018-11-26 17:05] sharwell commented on #374
@mike-lischke

1. Are you running `npm install` from the TERMINAL window of Visual Studio Code?
1. Have you set the terminal environment variable options to match the values from #378?
1. What versions of Maven and JDK do you have installed? I'm using the ones indicated in #378.

[2018-11-28 21:14] sharwell commented on #374
@mike-lischke That error seems to be caused by using JDK 9 or newer.  However, I'm not able to reproduce the error locally using Maven 3.5.3 and JDK 10.0.2. I would try running from inside the Visual Studio Code terminal window with the configuration shown in my pull request.

[2018-11-30 13:00] #376 closed

[2018-11-30 13:03] #315 closed

[2018-11-30 13:04] #251 closed

[2018-11-30 13:05] sharwell opened #389 "Improve test coverage in Trees.ts"
See #384.

[2018-11-30 13:06] #374 closed

[2018-11-30 15:05] #233 closed

[2018-11-30 16:12] mike-lischke commented on #374
Does this mean a standalone run without vscode is not supported?

[2018-11-30 16:38] sharwell commented on #374
@mike-lischke Building outside of vscode should work fine, and that's how it's performed on both AppVeyor and Travis. I'm just not sure of what accounts for the difference; following the steps I added to the README should be sufficient as a workaround until someone figures out instructions for the command line and adds those.

[2018-11-30 17:07] #247 closed

[2018-12-02 03:32] sharwell commented on #50
Fixed by #78

[2018-12-02 03:32] #50 closed

[2018-12-07 16:19] davidhockey22 commented on #341
Generating the files with emitDecoratorMetadata set to false does not fix the issue when the files are moved into a project that has emitDecoratorMetadata set to true. In my case I'm moving the files into an AG6 project and have to reorder it.

[2018-12-09 12:30] zakjan commented on #341
After TS parser is generated, I use this function to reorder the file content:

[code]

[2018-12-09 21:50] sharwell commented on #341
@johnholliday @davidhockey22 @zakjan Can one of you create a small sample project demonstrating the issue so I can better understand it?

[2018-12-12 21:48] tawalters61 opened #394 "ERROR TypeError: Class constructor Lexer cannot be invoked without 'new'"
I just tried using antlr4ts for the first time... and got the following error:

ERROR TypeError: Class constructor Lexer cannot be invoked without 'new'

This occurs at the time I attempt to create the Lexer for my DSL.

Any ideas?

Thanks.

[2018-12-13 03:51] lujun2 commented on #394
It may related to your `tsconfig.json`, try use `es6` as your compile target

[code]

[2018-12-13 13:51] tawalters61 commented on #394
Thanks. This worked.

[2018-12-13 14:05] sharwell commented on #394
@lujun2 This project uses `es2015` as the target. Do you know which targets I should expect to work and which ones not?

[2018-12-13 14:05] #394 closed

[2018-12-14 09:17] MartinJohns opened #395 "Generated code fails to compile"
**Versions used:**

| Module       | Version       |
| ------------ | ------------- |
| antlr4ts     | 0.5.0-alpha.1 |
| antlr4ts-cli | 0.5.0-alpha.1 |
| TypeScript   | 3.2.2         |
| Node         | 11.2.0        |
| NPM          | 6.4.1         |
| VS Code      | 1.30.0        |
| Java         | 1.8.0_192-b12 |

**Steps performed:**

[code]

**Issues:**

The lexer, the listener and the visitor

[2018-12-14 13:59] sharwell commented on #395
I can't figure out how this method is getting generated. Can you include a copy of **Rule.g4**?

[2018-12-14 14:03] sharwell opened #396 "Support strictPropertyInitialization"

[2018-12-18 09:54] MartinJohns commented on #396
Example rule:

[code]

Command to generate code: `npx antlr4ts-cli MyRule.g4`

The generated `MyRuleParser.ts` then contains this code:

[code]

With `strictPropertyInitialization` this will cause a compilation error, because the properties `_left` and `_right` are not initialized. According to the type information the type is `ExpressionContext`, but in reality the type is `undefined` (until it's

[2018-12-18 09:54] MartinJohns commented on #395
Unfortunately I can not, but as soon as I read your response I realized what the mistake is. The grammar is sports related and has a `match` rule, and that caused the `match()` method to be generated.

To prevent such occurances in the future you could consider adding a prefix to the base class methods, or to the derived class methods, or perhaps even use symbols to hide the base class implementat

[2018-12-18 09:54] #395 closed

[2018-12-21 23:02] jessitron opened #397 "In a recursive grammar, entry/exit calls to ParseTreeListener aren't nested"
There's a recursive grammar in Java9.g4:

[code]

When it parses a packageName within a packageDeclaration, say `package foo.bar.baz;`
 I expect it to parse like this, with nested recursion:
[code]

but, that's not the order the entry/exit calls come to the ParseTreeListener. Instead, I see:

[code]

so the packageName entry+exit calls come in sequence, even though the grammar is recursively neste

[2018-12-22 22:37] sharwell commented on #397
@jessitron Can you show an example of how you are registering your listener?

[2018-12-28 01:34] Spensaur-K commented on #326
I also get this error and my tsconfig.json target is "esnext".
I've tracked the error down to something from babel.js, which in my setup runs after typescript in webpack.json. Babel seems to be performing the super call to Lexer incorrectly.
For now, I fixed the error by removing all babel plugins that affect classes (for me this was just the "env" preset)

[2019-01-07 17:35] harry-kalligeros commented on #343
Any progress on this?

[2019-01-17 03:48] iiian opened #398 "Visitors not working; XVisitor does not exist."
Visitor implementers asking me to implement methods like `visit(tree: ParseTree): Result;`
Header of ParseTreeVisitor.d.ts says:
[code]

Tried a few versions, none seem stable with Visitor. Just wondering, is this supported yet?

[2019-01-17 05:56] sharwell commented on #398
Yes, this feature should be supported in the current release. 😄

[2019-01-20 11:35] mike-lischke opened #399 "Parse error in parser interpreter with profiling on"
When profiling is enabled for the parser interpreter then it doesn't finish a parse run cleanly, like it does when profiling is not set to true. Instead I get an error:

[code]

Here's how I use profiling:

[code]

The grammar used for the interpreter is:

[code]

[2019-01-25 13:44] sharwell commented on #399
Oh, interesting! 😆

[2019-01-30 14:16] piotrl commented on #394
It seem it does not work with `es5` target (sadly, as it's still default target for many projects)

[2019-01-31 04:12] iiian commented on #398
Oooooh... yeah, I was passing the visitor argument. I ended up implementing my small grammar with the javascript antlr4 target because I couldn't figure out how to get/find XVisitor in my project. Is that because XVisitor gets generated by the code generator?

[2019-01-31 04:15] iiian commented on #398
Thanks for responding, Sam, I'm sorry I didn't see this sooner.

[2019-01-31 11:48] sharwell commented on #398
Yes, it is generated by the code generator.

[2019-01-31 23:28] Usnul opened #401 "Missing text on RuleNode"
I'm trying to use the library, but I ran into an issue. With the "official" antlr4 JS package - I created a working compiler using a tree visitor.

Moving to antlr4ts I got a bunch of errors on methods like this:

[code]

The problem is that `getText` doesn't exist. That's fine, I found that there's a property `text` with a getter on `RuleNode`:
![image](https://user-images.githubusercontent.com/5

[2019-01-31 23:37] #401 closed

[2019-01-31 23:39] Usnul commented on #401
For posterity:

Had an auto-imported `InputStream` from antlr4 package instead of `ANTLRInputStream` of antlr4ts. Watch out for the name difference.

[2019-02-04 12:42] #399 closed

[2019-02-09 01:52] amilner42 commented on #305
I'm struggling myself, I could use a hand if someone know's what's wrong with this, it doesn't seem to be calling my visitor methods:

[code]

I don't understand why it's not printing anything in `visitProgram`, am I  missing something?

Thanks!

[2019-02-09 01:57] amilner42 commented on #305
@sharwell

If you happen to see something obviously wrong with what I'm doing, I'd appreciate knowing, but no problem at all if you're busy, Ill figure it out, thanks!

[2019-02-09 03:46] sharwell commented on #305
This is the entry point for listeners.

For visitors, just call `visitor.visit(result)`.

[2019-02-09 09:41] amilner42 commented on #305
Makes sense, thanks, would you like me to add a few lines to the README (at the bottom) and submit a PR so that it's more clear to future people how to proceed after:

[code]

Let me know @sharwell

[2019-02-09 18:47] sharwell commented on #305
@amilner42 Sure

[2019-02-09 18:47] #398 closed

[2019-02-13 01:47] amilner42 commented on #305
Created a [pull request](https://github.com/tunnelvisionlabs/antlr4ts/pull/404) with strictly doc changes.

Sorry for the delay, had to finish some code, cheers @sharwell

[2019-02-24 11:43] mike-lischke opened #406 "Lexer fails to lex valid input"
antlr4ts still doesn't support Unicode fully like ANTLR4 does, however it should at least fully handle the Unicode BMP. I'm writing a sentence generator which created this valid cyrillic string: `"ҔҳѪⷲԭԧѯѻӇꙅꙒӜһԤѾꙦ"` (the JS code for that is: "\u{A671}\u{494}\u{4B3}\u{46A}\u{2DF2}\u{52D}\u{527}\u{46F}\u{47B}\u{4C7}\u{A645}\u{A652}\u{4DC}\u{4BB}\u{524}\u{47E}\u{A666}"). You can check in the Unicode

[2019-02-24 11:56] mike-lischke commented on #406
I just realized, I made a mistake and mixed lexer and parser tests wrongly.

[2019-02-24 11:56] #406 closed

[2019-02-24 18:40] sharwell commented on #406
@mike-lischke I sent a pull request last week to antlr4ts that adds the rest of the Unicode features.

[2019-02-25 08:04] mike-lischke opened #407 "[FR] Make ATNDeserializer compatible with ATN data from standard ANTLR4"
The antlr4ts tool uses a number of optimizations, which also leave some traces in the serialized ATN, which in turn makes that incompatible to the standard ATN stream from ANTLR4. Now, with the possibility to use exported interpreter data (*.interp files), it would be very helpful to be able to load both, the standard format and the extended format with the same deserializer. Currently I have to u

[2019-02-27 10:01] amazzalel-habib opened #408 "Generated files contains typescript errors"
I generated the parsers for my grammer. But it seems that the generated files contains typescript errors
Some variables are declared but never used.
';' expected.
Cannot find name 'pragma'
...
Please help if this is not a bug!

[2019-02-27 10:43] #408 closed

[2019-02-27 13:41] sharwell commented on #407
I believe this is the expected approach, since the ATN from the reference release is otherwise not usable by this runtime.

[2019-02-27 15:59] mike-lischke commented on #407
It wasn't very difficult to make it compatible (even though I don't oversee all the implications caused by my own class, since I simply ignore the additional stuff added by antlr4ts). So it looks as if it is pretty simply to make the antlr4ts ATN deserializer compatible with both ATN variants.

[2019-03-01 17:33] #373 closed

[2019-03-04 11:04] amazzalel-habib opened #412 "Unused imports typescript error"
The generated files contains some errors. You have imported the decorators NotNull and Override and commented their usage, is there a way to uncomment them or remove the imports without me touching the file manualy?

[2019-03-04 17:21] sharwell commented on #412
Are you sure this is an error and not just a linter warning?

With that said, the imports could be commented out to match the uses.

[2019-03-04 17:23] amazzalel-habib commented on #412
In my case it is an error because I want to use noUnusedLocals for my ts files. And there is no way to ignore them for just the generated files.

[2019-03-04 21:59] amazzalel-habib commented on #412
It'd be better if the imports are commented as well, or add some option (experimentalDecorators) to let the user select whether to add the decorators or not. also there is a variable that isn't used in the parser/Lexer generated files.
Thanks alot,

[2019-03-26 17:44] mindhivefi commented on #310
I think this could be fixed by setting the `tsconfig`'s target to es5. Is there some reason why it has been set to `es2015`?

[2019-05-09 03:55] StarGazerM commented on #395
=. =, same problem appears to me, and after read this .........What fool am I.......

[2019-05-12 17:40] InCodingNowLiu commented on #293
@BurtHarris What the current status of this?

[2019-05-16 07:57] v3rb0s3 commented on #326
I'm encountering this issue as well. I'm using the most basic setup imaginable, with nothing installed but node.js (12.2.0), typescript (3.3.1), and antlr4ts (0.5.0-alpha.3), and a minimalistic grammar. I don't specifically care about the target, and have tried various ones (es5, es6, es2015, es2018) without success. Does anybody have a hint what I need to do to make this work?

[2019-05-16 10:38] sarod commented on #326
I'm using babel with preset-typescript and I have the same " Class constructor Lexer cannot be invoked without 'new'" error

[2019-05-30 23:39] tawalters61 opened #416 "error -- assignment to const"
I am using antlr4ts from an Angular app. It appears to work fine with Angular 6, but it does not work with Angular 7 or Angular 8 when building with the --prod flag. It appears as if the generated parser is assigning a const variable. The following is the error message that I am getting.

Uncaught TypeError: Assignment to constant variable.
    at Object.qKUm (PredictionContextCache.js.pre-build-o

[2019-06-04 11:51] sharwell commented on #416
I don't see any constant variables in [PredictionContextCache.ts](https://github.com/tunnelvisionlabs/antlr4ts/blob/master/src/atn/PredictionContextCache.ts). Can you provide some additional information about how this is occurring?

[2019-06-04 11:52] sharwell commented on #326
@v3rb0s3 Can you provide an example project to reproduce this?

[2019-06-09 09:41] mike-lischke commented on #407
And yet another change appeared in the latest antlr4ts release (0.5.0-alpha.3): the UUID for ADDED_UNICODE_SMP changed from "59627784-3BE5-417A-B9EB-8131A7286089" to "C23FEA89-0605-4f51-AFB8-058BCAB8C91B". Another stumbling stone to use reference ANTLR4 generated ATNs with antlr4ts - pretty annoying.

Again, please consider making antlr4ts compatibile with the reference release. Stuff added by ant

[2019-06-09 11:55] sharwell commented on #407
This change was made in d6d151bb70d6081c94545bd8c999e89b3d2e4c0f, correcting a mistake made in 51f40aba693793b0ce99c3a19a5c82f13cb7fac0. antlr4ts does not support the ATN format with GUID 59627784-3BE5-417A-B9EB-8131A7286089, which is a format produced by the reference Java version of the tool.

A few years ago, the maintainers of the reference version turned down a proposal to maintain compatibil

[2019-06-09 11:56] #407 closed

[2019-06-09 12:08] mike-lischke commented on #407
OK, but I guess antlr4ts will never support other targets than Typescript, which means it is impossible to write tools that support (generation and debugging of) all normally supported targets. A severe limitation actually, from a tool writer's perspective.

[2019-06-09 12:52] sharwell commented on #407
The project licensing should allow tools to include a modified copy of ATNDeserializer which supports other input formats.

[2019-06-20 07:06] kingfolk opened #417 "generated mysql parser has conflicted member with ParserRuleContext"
https://github.com/antlr/grammars-v4/blob/master/mysql/MySqlParser.g4#L261
mysql grammer line generate
[code]
And `ScheduleExpressionContext` extends from `RuleContext`
[code]
same member with incompatible type. when compiling the parser with tsc, throws

[code]

[2019-06-20 09:17] KvanTTT commented on #417
Try to replace `start` identifier with `start_` in grammar.

[2019-06-20 14:24] #417 closed

[2019-06-21 15:29] BurtHarris opened #418 "Dev setup: JDK and Maven versions?"
I flattened my dev box a while back, and wanted to catch up with antlr4ts.   Walking through the instructions in CONTRIBUTING.md, it talks about installing JDK and MAVEN, and gives minimum versions.   After reading issue #374, I'm confused what versions to install.

A nice-to-have would be hyperlinks to the recommended install web-pages.

[2019-06-21 16:01] sharwell commented on #418
Historically I used JDK 8 with Maven 3.x. On this machine I see JDK 8, 10, and 11 with Maven 3.6.0.

[2019-06-26 11:20] kingfolk commented on #416
I am having the same error. It happens if `buildOptimizer` is turned on.
see https://angular.io/cli/build `--buildOptimizer=true|false` option.
![image](https://user-images.githubusercontent.com/3896260/60175551-7afc5280-9846-11e9-9668-7b931ccd5aa5.png)
![image](https://user-images.githubusercontent.com/3896260/60175556-7e8fd980-9846-11e9-9ad1-ff8baf632ecd.png)

full file `ATNState.js.pre-build-op

[2019-06-26 21:37] kevinramharak commented on #416
@kingfolk is your snippet the generated code? `ATNState` does not appear to be a `const` so the error does not seem to be related. Is this the complete generated file? And what is the execution context of this file. Is it imported as a module or inside a bundle. Is it in strict mode or not?

[2019-06-27 00:19] kingfolk commented on #416
I am able to reproduce this issue simply by
[code]
and in the `app.component.ts`
[code]
then run in production mode
[code]

[2019-06-27 17:04] kevinramharak commented on #416
Thanks that makes it easier to debug. The problem is not in the source mapped code but in the actual generated code:
[code]
Notice that `i` is defined as `const` and then assigned to in the following IIFE.
This seems like a problem in the build system and resulting generated code.
See https://github.com/angular/angular-cli/issues/9495 for more info. Brings you down the rabbit hole where I gave up

[2019-06-28 06:54] kingfolk commented on #416
Thanks! @kevinramharak

[2019-07-03 16:49] clydin commented on #416
This issue stems from the use of a class and namespace with the same name.  The use of a static property on the class itself would eliminate the need for the namespace as well as reduce the complexity of the code (both before and after transpilation).  There are also some follow-on benefits when optimizing within the scope of a larger project as the code would be much easier to statically analyze

[2019-07-10 08:41] #418 closed

[2019-07-10 19:16] sdiguana commented on #326
I've just spent the last several evenings on the same issue (" Class constructor Lexer cannot be invoked without 'new'" error).

I've changed the following things to finally get it resolved:
1. tsconfig.json for my parser was set to target: es2015, module: es2015
2. babel presets were as follows:
browsers: [">0.5%", "not ie 11", "not op_mini all", "not samsung 4" ]

Item 1 may not be required, e.g

[2019-07-11 05:55] BurtHarris commented on #326
@sdiguana, that sounds big.  Can you share a repro where you have it working in a browser based   context.  I would like to understand in more detail what you accomplished.  We can certainly have typescript generate both the commonjs and es2015 module formats into separate directories by having two different tsconfig.json files.

[2019-07-12 04:33] sdiguana commented on #326
@BurtHarris Let me know if this is enough information:
I have two projects, one is the antlr based calculator, the second is a Nuxt.js based website. I build the calculator and then drop the es6 module js files into the browser's project at the moment. There is a dependency on antlr4ts for the browser project.

ANTLR Calculator project:
Use Module: CommonJS for testing with _mocha_
Use Module: ES2

[2019-07-12 18:49] jake-wickstrom-lb commented on #396
Has there been any progress on this issue?

[2019-07-13 17:39] nelsonlaquet opened #420 "Does not run on windows: "'which' is not recognized as an internal or external command""
This tool seems to assume that `which` is available on your PATH. Windows does not include such a utility by default. It fails with the same error even if you have a PowerShell function or alias that replicates this functionality. At the very least, it would be nice if this was detected and reported a more sensible error, though preferably this would be modified to also work on Windows without ext

[2019-07-13 17:55] nelsonlaquet commented on #420
... this issue was made on the wrong repository, ignore me.

[2019-07-13 17:55] #420 closed

[2019-07-14 17:41] BurtHarris commented on #326
I'll have a look, thanks.

[2019-07-16 13:39] tsetsik opened #421 "Can't resolve 'fs' when using antlr4-c3 package with code completion in angular 7"
My grammar file along with the generated lexer, parse and other files are located in the repository and I want to use the code completion feature of c3. But when implementing it I stumbled at the mentioned error

[code]

Since angular 6, there is no access to that module since it's client side, so what can be done in my case

[2019-07-18 16:48] BurtHarris commented on #421
Good question, I don't think there should be a reference to module `fs` in the main code.

@sharwell, do I remember correctly that the Interpreter... stuff is really only needed for testing?

[2019-07-18 17:14] BurtHarris opened #422 "Use of package`rollup` to address packaging issues, browser compatability, etc."
I've been thinking (for years now) that this project faces a number of issues regarding platform portability that must have some best-practice solutions in the existing node/browser/typescript ecosystem.

I think I've found a TypeScript based architype to consider at   https://github.com/MattiasBuelens/web-streams-polyfill .   Just examining the directory structure of this project makes clear some

[2019-07-25 11:21] tsetsik commented on #421
Actually there is in [here](https://github.com/tunnelvisionlabs/antlr4ts/blob/625543651aaf0f8e7781a00e9c858a062f5e9cc1/src/misc/index.ts#L19) and the reference to the `fs` module is inside the  `InterpreterDataReader.js`

[2019-08-12 17:00] abhijits2000 opened #423 "ES5 Target support"
ANTLR4TS generates Lexer, Parser and Visitor Typescript files are not compatible in ES5 environment. Could you please provide support for ES5 Target for the typescript files?

[2019-08-12 17:44] retailify commented on #423
duplicate of #311?

[2019-08-12 17:54] abhijits2000 commented on #423
I couldn't see a solution on #311.

[2019-08-13 08:06] kevinramharak commented on #423
@abhijits2000 How about transpiling the generated files to ES5?

[2019-08-21 11:09] gsongsong opened #424 "Cannot find name 'getCharPositionInLine' in generated Lexer"
For example, with a grammar like below, generated Java lexer supports `getCharPositionInLine()`. However, TS lexer generated with antlr4ts seems not support `getCharPositionInLine()`. Or did I miss something?

[code]

[2019-08-21 13:07] gsongsong commented on #424
I suspect replacing it to `this.charPositionInLine` might solve the problem.

[2019-08-21 13:28] sharwell commented on #424
Code inside grammar predicates is language-specific. JavaScript requires instance members be qualified with `this.`, where other languages do not.

[2019-08-31 03:27] sharwell commented on #421
@BurtHarris the interpreter is also used by certain applications doing non-standard parsing

[2019-08-31 03:30] sharwell commented on #421
@tsetsik I think the resolution here is to import specific classes rather than importing all of the runtime through index.ts.

[2019-09-02 14:42] caroe233 opened #425 "TerminalNodeImpl missing in antlr4ts"
Hi Guys,

It might be me being stupid but can someone explain to me what it is about TerminalNode vs TerminalNodeImpl? It seems that antlr4 typically uses TerminalNodeImpl which extends TerminalNode. In antlr4ts most of the code assumes there only is TerminalNode. However, when I start debugging I do actually have an instance of TerminalNodeImpl which then doesn't match the code. See one example h

[2019-09-03 17:47] sharwell commented on #425
antlr4ts dropped the `TerminalNode` interface, and renamed `TerminalNodeImpl` to `TerminalNode`. There is no `TerminalNodeImpl` type in this project, so I'm not sure where that's coming from. 😕

[2019-09-04 04:13] gsongsong commented on #424
@sharwell Thanks for comment. But as mentioned above seems `this.charPositionInLine` is the one. (not function but property)

[2019-09-04 04:13] #424 closed

[2019-09-04 11:43] caroe233 commented on #425
Hi,
I got it working. I think my problem was that I had antlr 4 and antlr4ts mixed. It's looking very good now :)

[2019-09-04 11:43] #425 closed

[2019-09-25 05:51] cam-m opened #426 "For labeled rules, the base rule event method is generated but not called during tree walk"
I have a rule like this:

[code]
The generated parse tree listener does include a method `enterExpression` but my generated parser never calls it during a parsetree walk. Is this intended or am i missing something?

antlr4ts version: 0.5.0-alpha.3

PS> thanks for this port Sam and contributors - love it!

[2019-10-22 12:18] MarkBensh opened #427 "Generated files use tabs rather than spaces for indentation"
The generated files use tab rather than spaces for indentation. This causes the files being rejected by lint. Can this be changed? Thanks

[2019-10-22 17:12] sharwell commented on #427
Hard tabs are used to (substantially) reduce the file size for the generated files. You should exclude these files from the tab/spaces checking of your linter.

[2019-10-22 17:13] #427 closed

[2019-11-13 00:49] ForrestHurley opened #428 "antlr4ts failing on Ubuntu"
Anyone have any idea what I am doing wrong or how to debug it? This is a project which works on windows, but when I try to compile the grammar, it fails on ubuntu. I have tried purging the npm cache, deleting the node_modules directory, and reinstalling, but that did not help.

antlr4ts 0.5.0-dev3 is set as a dependency along with antlr4ts-cli and antlr4 4.7.2.

[code]

[2019-11-13 09:01] GeorgDangl commented on #428
Is Java installed and available via the `java` command?

[2019-11-13 16:22] ForrestHurley commented on #428
That was the problem. As soon as I installed java, it worked. Thank you!

[2019-11-13 16:22] #428 closed

[2019-12-06 08:47] jenlai1345 opened #429 "Parser and Lexar build error: xxx is used before its initialization"
Generated MyGrammarParser.ts and MyGrammarLexer.ts contains build error:

`Property '_LITERAL_NAMES' is used before its initialization.`
`Property '_SYMBOLIC_NAMES' is used before its initialization.`

typescript version: 3.7.2

[2019-12-12 13:13] ArtemeeSenin commented on #421
Worked for me
[code]

[2019-12-19 14:44] fabiannagel opened #430 "Removing default error listener + adding a custom one does not work"
Even though I call removeErrorListeners() for both lexer and parser, I still keep getting console output in my browser window through ConsoleErrorListener (mismatched input + token recognition error).

Also, adding my own error listener does not work either. I tried calling addErrorListener() for both lexer and parser and passing a new instance of this:

`import {ANTLRErrorListener} from 'antlr4ts

[2019-12-20 17:50] vepanimas commented on #426
@cam-m @sharwell, any updates on it? I faced the same issue 😞

[2019-12-20 18:05] vepanimas commented on #426
Looks like the generated contexts derived from the `ParserRuleContext` don't override empty parent `enterRule` and `exitRule` methods.

[2019-12-20 19:08] vepanimas commented on #426
Ok, I even found a [commit](https://github.com/antlr/antlr4/commit/c6fd89728797ea8b7fdcdbdfc5f8c1833d662eeb) where this behavior was changed ([that line](https://github.com/antlr/antlr4/commit/c6fd89728797ea8b7fdcdbdfc5f8c1833d662eeb#diff-b5b842c224684eef982ecabce642e11dR61)). Any ideas why this change was made?

[2019-12-20 19:13] sharwell commented on #426
If the alternatives are labeled, the listeners and visitors should call the methods for the specific alternatives and not the ones for the base type. For the example by @cam-m, the expected behavior is `enterExpression` does not exist and is never called. Currently the interface defines it as an optional method, but it is never called so it's easy enough to ignore it. We would accept a pull reques

[2019-12-27 18:40] DanielRosenwasser opened #432 "Ship `.ts` sources or turn on `--inlineSources`"
Hi there!

Today your package ships with `.js.map` files which redirect to `.ts` files that aren't included in the package. This ends up causing build tools (like Parcel) to spill out a ton of warnings.

[code]

![image](https://user-images.githubusercontent.com/972891/71528541-26896c80-2895-11ea-9c63-86dc36a0ec50.png)

I would suggest either removing the sourcemaps entirely, or shipping the `src`

[2020-01-02 10:19] AnyhowStep opened #434 "Cannot read property 'enterRule' of undefined"
[code]

Looking at ParseTreeWalker,

I see,
[code]

But it seems like it's possible for `ctx` to be `undefined`.
Is this a bug? Or am I doing something wrong?

[2020-01-02 10:32] AnyhowStep commented on #434
Ah, never mind. I had `.js` and `.ts` files from trying to migrate from antlr4 to antlr4ts

[2020-01-02 10:32] #434 closed

[2020-01-02 16:05] sharwell commented on #432
Is there something like SourceLink for TypeScript (metadata points to a specific commit on GitHub where the sources can be obtained)?

[2020-01-02 20:56] DanielRosenwasser commented on #432
Unfortunately not that I know of - although, as I realized that instead of shipping `.ts` files, you can turn on `inlineSources` to emit the `.ts` contents within the `.js.map` files. Ultimately it's up to you.

[2020-01-06 01:48] BurtHarris commented on #432
I think the .ts files should be included in the NPM package too.

[2020-01-11 08:15] NikiforovAll opened #436 "Can't find BaseErrorListener"
I can't find `BaseErrorListener` so it could be inherited and used for a custom implementation.

Motivation: I would like to have my own implementation of the listener to facilitate testing. What is the correct way to accomplish this? Should I extend `DiagnosticErrorListener`?

[2020-01-21 02:01] soneymathew opened #437 "antlr4 version 4.8.0 sync"
Hello maintainers,

I learned that antlr4 version got released 4 days ago.
https://www.npmjs.com/package/antlr4
Do you have near term plans to stay in sync?

Please let me know if I can help contribute to upgrading?

Thanks for open sourcing this,
Soney

[2020-01-21 02:05] sharwell commented on #437
The synchronization process for this project is different.

1. The changes from antlr/antlr4 are incorporated into tunnelvisionlabs/antlr4
2. The changes from tunnelvisionlabs/antlr4 are incorporated into tunnelvisionlabs/antlr4cs and tunnelvisionlabs/antlr4ts

[2020-01-21 02:25] soneymathew commented on #437
Thanks for the quick response :)
no particular changes I had in mind, I am still learning to use this better.
So wanted to check if I should use this one or the latest reference implementation when starting out on a new project.

I am learning to support a new grammar akin to SQL grammar in IDEs at the moment.
So looking to leverage this for autocomplete, syntax highlighting, error reporting etc.

[2020-01-21 17:18] sharwell commented on #437
This project tends to move slowly, so I don't think you'd need to wait for the 4.8 update.

[2020-01-23 01:33] BurtHarris opened #438 "Build error: EEXIST: file already exists,"
Building on windows 10 using `npm install` is generating the following error:

[code]

Full build log attached: [2020-01-23T01_25_55_814Z-debug.log]

I think this has to do with the link/unlink scripts in package.json.    They were always a hack.   Will investigate further.

[2020-01-23 01:38] BurtHarris commented on #438
`npm list antlr4ts* -G` shows that `antlr4ts-root` (the dummy package in the root of the source tree) is getting linked globally.   I'm pretty sure that's unexpected.

[2020-01-23 02:23] BurtHarris opened #439 "Clean up multi repo build hacks with Lerna"
The Lerna package is designed to address challeges in multi-package repos, like this one.   It seems to have matured significantly since the last time I looked at it.

I believe it would be a much cleaner solution to the **antlr4ts-cli** dependency in building the **antlr4ts** run time than the current hack of using npm link/unlink commands.

[2020-02-02 21:47] fabiannagel commented on #436
It currently seems broken to me: #430

[2020-03-03 02:12] grant-d opened #442 "TS2304: Cannot find name 'RuntimeException'"
Using `JavaScript` as the target, running against Node10 (on Mac), I am getting the <subj> error in the generated `Parser` when running `tsc`.
I am not sure when to import `RuntimeException` from, or if I should just change it to `Error`?

[code]

`0.5.0-alpha.3`
Thanks

[2020-03-03 02:41] grant-d commented on #442
Ignore - user error, I was not targeting ES5. This worked when I fixed that.

[2020-03-03 02:41] #442 closed

[2020-03-20 21:45] josejulio opened #443 "TS2339: Property 'compilationUnit' does not exist on type 'TagQueryParser'."
When trying the following code:

[code]
Generated with:
```antlr4ts -visitor `pwd`/TagQuery.g4```

[2020-03-20 21:58] josejulio commented on #443
Well, duh!
It should be `tagquery` function as is my entry function, sorry for the spam.

[2020-03-20 21:58] #443 closed

[2020-03-20 21:58] sharwell commented on #443
No problem, glad you figured it out!

[2020-03-21 19:06] BurtHarris opened #444 "Need better overloaded constructors for generated parser"
Let's port this simple example from [the book](https://media.pragprog.com/titles/tpantlr2/listener.pdf) Rows.g4 grammar:

[code]
How does one port this to typescript?   Here's a stab at it:

[code]

With the current version of antlr4ts-cli, this generates flawed typescript.  In relevant part of the resulting RowsParser.ts:

[code]

[2020-04-05 10:44] crainsaw commented on #326
In my case I was able to solve the issue by explicitly defining the tsconfig file for ts-lint:
`in package.json
{
  // [...]
  "jest": {
    "globals": {
      "ts-jest": {
        "tsConfig": "test/tsconfig.json"
      }
    }
  }
}`
It seems that ts-lint ignored my tsconfig file in which I already had specified es2015 as a build target. My tsconfig for my tests `test/tsconfig.json` looks like th

[2020-04-10 16:03] mikecargal opened #446 "TypeError: Class constructor Lexer cannot be invoked without 'new'"
Typescript v3.8.3

My code:
[code]

I get:
TypeError: Class constructor Lexer cannot be invoked without 'new'
    at new CalcLexer (/Users/mike/zwo-lang/src/main/typescript/gen/CalcLexer.ts:69:3)

Line 69 in CalcLexer.ts (generated code):
[code]

This doesn't appear to be something I can fix from my code.  Has there maybe been TypeScript change that means line 69 was previously valid, but is no lo

[2020-04-10 17:48] BurtHarris commented on #446
I think this is caused by a mismatch between the typescript **`target`** setting used to build the antlr4ts run-time library, and the setting used to build your project.   Can you help me confirm?

Update your tsconfig.json to include `    "target": "es2015",` like in https://github.com/tunnelvisionlabs/antlr4ts/blob/master/tsconfig.json#L6

If it works with that change, please note it in this iss

[2020-04-10 18:54] #432 closed

[2020-04-10 18:54] #438 closed

[2020-04-10 19:21] mikecargal commented on #446
Indeed, that was the problem... thanks

for some reason I had "es5"

[2020-04-10 19:51] sharwell commented on #446
Duplicate of #326

[2020-04-10 19:51] #446 closed

[2020-04-10 19:53] sharwell commented on #310
Duplicate of #326

[2020-04-10 19:53] #310 closed

[2020-04-10 19:53] sharwell commented on #283
Duplicate of #326

[2020-04-10 19:53] #283 closed

[2020-04-10 19:53] sharwell commented on #423
Duplicate of #311

[2020-04-10 19:53] #423 closed

[2020-04-11 01:28] BurtHarris opened #448 "continuous-integration/travis-ci appears stuck"
For example, in pull request #414 , the orange ball still shows up next to that check.

[2020-04-11 19:35] BurtHarris opened #449 "Rethinking the scope of the antlr4ts-cli tool"
_This idea needs further development, but I wanted to float it early for feedback.  I'm still not sure with how it applies to separate parser and lexer grammars, or how to treat grammars which are used only as sub-grammar._

Preface: this may make more sense if we consider the fact the overall package may have a slightly misleading name.   **Antlr4ts** is really not really **ANTLR _for TypeScript_

[2020-04-11 22:15] BurtHarris opened #451 "The JDK_SOURCE_ROOT environment variable must be set for performance testing."
`npm run benchmark` fails on my new machine with the message above.  It comes from [TestPerformance.ts](https://github.com/tunnelvisionlabs/antlr4ts/blob/625543651aaf0f8e7781a00e9c858a062f5e9cc1/benchmark/TestPerformance.ts#L429).

@sharwell, I remember that one of the benchmark requirements involved getting a copy of some code that was under a sun/oracle license, and setting this environment vari

[2020-04-11 22:42] #313 closed

[2020-04-11 22:42] BurtHarris commented on #313
overcome by events

[2020-04-11 22:43] BurtHarris opened #452 "npm run cover is failing (on master)"
It looks like something related to garbage collection.   Example output:
[code]

[2020-04-11 22:45] BurtHarris commented on #452
[2020-04-11T22_36_14_571Z-debug.log](https://github.com/tunnelvisionlabs/antlr4ts/files/4465598/2020-04-11T22_36_14_571Z-debug.log)

[2020-04-11 23:44] BurtHarris opened #453 "Error: Unable to access jarfile C:\code\antlr4ts\node_modules\antlr4ts-cli\target\antlr4-typescript-4.7.3-SNAPSHOT-complete.jar"
This error occurs during the build-from-source process if you are using the YARN package manager, rather than NPM.

For now, please stick with NPM.  See comment in the CONTRIBUTING.md document.

[2020-04-11 23:45] BurtHarris commented on #453
Closing without a resolution for V1.

[2020-04-11 23:45] #453 closed

[2020-04-12 02:48] BurtHarris opened #455 "generated parsers should emit correctly typed addParseListener"
For the Expr grammar, the parser should emit:

[code]
Without this, the typescript compiler generates an error when when calling `addParseListener()` using object literal notation.   For example, specifying `exitStat` below:

[code]
In the example above, specifying `foobar` is an example of where the error message is expected and useful, as an ExprListener doesn't have such a method.  The expected

[2020-04-12 02:54] BurtHarris opened #456 "Methods like Parser.addParseListener should be support fluent programming style"
All it takes is to return the parser object rather than void.   That way someone can chain methods together, in a single muti-line statment, e.g.:

[code]

[2020-04-12 03:07] BurtHarris commented on #455
Thinking about this, it might be possible to do without adding the extra code, if the Parser class were parameter based on the corresponding listener class.  I.e. the runtime use something like:

[code]

[2020-04-13 19:03] BurtHarris commented on #444
I think this calls for the code generation tool to detect (or be told) **not** to build a constructor itself if one is being provided in the grammar file.   I suppose the simplest approach would be to make it an option that can be set in the grammar file.   Comments?

Would this make sense?

[code]

[2020-04-15 19:49] BurtHarris opened #458 "Maven acting strange if I create a 'runtime' directory"
@sharwell I don't understand this, can you help explain?

For years, we've had this is [tool/pom.xml](https://github.com/tunnelvisionlabs/antlr4ts/blob/master/tool/pom.xml#L170):
[code]
I think **testResource** **`../runtime`**  has unintended consequences, but they were not triggered until I created a **runtime** folder.    What is a **testResource** for?

Background
========

Expected contents o

[2020-04-15 19:58] BurtHarris commented on #163
Years later, answering my own question.   Yes, I'm convinced the overloads are wrong for TypeScript *when optional parameters can be used*. and TokenStreamRewriter is not the only case of this.    I believe this calls for a review of the whole codebase.

[2020-04-15 20:47] BurtHarris commented on #360
I'm closing this because I think there's a better way.

[2020-04-15 20:47] #360 closed

[2020-04-15 20:48] BurtHarris commented on #449
@mike-lischke, I'd really appreciate your thought on this.

[2020-04-16 00:19] BurtHarris commented on #325
closing for a rethink

[2020-04-16 00:19] #325 closed

[2020-04-16 01:27] BurtHarris opened #459 "TypeScript version upgrade blocked"
Strange error behavior if we upgrade to TypeScript version 3.  The tsc command seems to hang or become very slow.

This is related to `import` statements, located outside the runtime's src directory, which use paths including `antlr4ts/`**`src`**/...  This causes some sort of recursive compilation behavior.

[2020-04-16 01:27] BurtHarris opened #460 "TypeScript version upgrade blocked"
Strange error behavior if we upgrade to TypeScript version 3.  The tsc command seems to hang or become very slow.

This is related to `import` statements, located outside the runtime's src directory, which use paths including `from "antlr4ts/src/"'...  This causes some sort of recursive compilation behavior.

[2020-04-16 06:52] mike-lischke commented on #449
Tbh. I don't use the antlr4ts cli at all and never have. Instead I directly invoke the antrl4ts jar. The cli is just another wrapper whose parameters and handling you have to learn. I believe it would make more sense to focus on providing that jar and even more sense to include it in the main ANTLR4 line. This separation of an ANTLR4 target is not doing any good, but is probably required since it

[2020-04-16 07:34] viceice commented on #460
duplicate of #459

[2020-04-16 19:45] BurtHarris commented on #449
Thanks @mike-lischke  for the input.

Re: merging this back into the main ANTLR4 line.   It had been years since I looked at this, but yesterday I clone the main ANTLR4 line, and had a look around.    Some good things:  it helps me to understand the intent of the directory structure, and I'm working on a PR with reorganizing to fit.   But it also brought me to remember some of the reason why we fo

[2020-04-16 19:56] #460 closed

[2020-04-16 19:56] BurtHarris commented on #460
closing duplicate

[2020-04-16 20:04] BurtHarris commented on #448
Looks like a recent change somewhere may have resolved this.   For example PR #454 passed CI.   Closing (without fully understanding) for now.

[2020-04-16 20:04] #448 closed

[2020-04-17 01:44] BurtHarris opened #461 "Circular dependencies in Parser and Lexer?"
I've done some rework of how the import statements are organized, I think I'm running into the circular dependency problem, with runtime errors shown below.

Tracing through it with a debugger, it seems the object being returned as the façade for `import {whatever} from "antlr4ts"`, does not have members `Parser` nor `Lexer`, and thus the generated wrapper classes (like `XPathLexer`) can't call th

[2020-04-17 03:56] BurtHarris commented on #449
@mike-lischke: From experience, it seems that the TypeScript team makes sometimes breaking changes that don't get reflected well in the typescript package's version number.   For this reason, if a developer uses a different version of TypeScript to transpile antlr generated `.ts` files, they may get confusing errors.

By expanding the scope of that antlr4ts-cli does to include running TypeScript o

[2020-04-17 04:50] BurtHarris commented on #461
Resolved by careful ordering of imports in **index.ts**.

[2020-04-17 04:50] #461 closed

[2020-04-18 17:37] BurtHarris commented on #459
In this context, I've isolated the problem to benchmark/TestPerformance.ts, the way this code is structured is giving **tsc** fits.   _Sometimes_ I see error messages that say something to the effect of `... comparing JavaParser to JavaParser`, which gave me a clue.   There are 4 or 5 different `JavaParser`s involved, leading me to suspect this line of code, just after the imports:

[code]
@sharwe

[2020-04-18 22:10] BurtHarris opened #462 "TSLint -> ESLint - Indent indent/tabs rule broken"
TSLint has been deprecated in favor of ESLint.    See https://eslint.org/blog/2019/01/future-typescript-eslint#top.      There seems to be a good migration path, e.g. https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration.

In trying this on the antlr4ts code base, I ran into a known problem:  typescript-eslint/typescript-eslint#1824!  Itsounds the indent rule for typescript is

[2020-04-18 22:15] BurtHarris commented on #451
Sam, if possible lets load go the sub-module approach so that **benchmark** will run after npm install.  Your feedback is important.

[2020-04-18 22:18] BurtHarris commented on #439
I've been working with Lerna now for months.    Some good experience, some not so good.   I just found out that the alternative package manager **[pnpm](https://github.com/pnpm/pnpm#pnpm)** _may_ be a good alternative

[2020-04-18 22:24] BurtHarris commented on #375
closing due to inactivity

[2020-04-18 22:24] #375 closed

[2020-04-18 22:25] #335 closed

[2020-04-18 22:29] BurtHarris commented on #262
I know how this works now...

[2020-04-18 22:30] BurtHarris commented on #204
A bundler can do this.   Probably best to keep the Node.js version in separate files now.

[2020-04-18 22:33] BurtHarris commented on #198
Typescript takes this into account.   P.S.  the javascript safe way to say undefined is `(void)0`

[2020-04-18 22:33] #198 closed

[2020-04-18 23:06] BurtHarris commented on #462
Specific guidance on integrating ESLint w/ Prettier here:  https://prettier.io/docs/en/integrating-with-linters.html

[2020-04-18 23:16] BurtHarris opened #463 "Integrate Prettier code formatter"

[2020-04-18 23:18] BurtHarris commented on #463
Per #462 Prettier to replace code-formatting lint rules.

[2020-04-18 23:19] BurtHarris commented on #463
Specific guidance on integrating ESLint w/ Prettier here: https://prettier.io/docs/en/integrating-with-linters.html

[2020-04-19 03:49] BurtHarris opened #464 "ESLint identifies type error in generated code for tests"
@sharwell:  I could use your guidance on the intent of code below.

I'm working on integrating ESLint into antlr4ts.   One error keeps coming up that seems to be a real bug, apparently in generated test code.   The message is:    **Argument of type 'Token' is not assignable to parameter of type 'number'.**

It  repeatedly appears on the `process.stdout.write` line below, objecting to `_localctx._a

[2020-04-19 04:37] BurtHarris commented on #464
Problem was a misdeclaration of getTextFromRange.

[2020-04-19 04:37] BurtHarris commented on #464
tracking

[2020-04-19 05:19] BurtHarris opened #465 "mocha.opts is DEPRECATED"
Message when running tests:

**(node:4108) Deprecation Warning: Configuration via mocha.opts is DEPRECATED and will be removed from a future version of Mocha. Use RC files or package.json instead.**

[2020-04-20 19:07] BurtHarris opened #466 "Circular import dependencies"
Doing some experimentation with Rollup.js, I find that it (among many other things) identifies and generates a warning for cycles in `import` dependencies.   The code-base has quite a number of these, 14 if I recall.   These are not errors, but point up some potential problems due to incomplete initialization of dependencies.

Some cycles can be resolved quite trivially, for example 3 cycles can b

[2020-04-23 00:42] BurtHarris commented on #466
I think this message is generated by a circular import dependency problem:
[code]

[2020-04-23 01:46] BurtHarris commented on #466
Good article on this problem:  https://medium.com/visual-development/how-to-fix-nasty-circular-dependency-issues-once-and-for-all-in-javascript-typescript-a04c987cf0de

[2020-04-23 16:01] BurtHarris commented on #466
Complicated by imports using "src" in the path, which have to go.

[2020-04-26 23:32] BurtHarris commented on #429
I believe this was a tslint warning.   With a pending PR, I'm removing dependency on tslint, switching to eslint.

[2020-04-26 23:58] #204 closed

[2020-04-26 23:59] BurtHarris commented on #40
Latest PR removes dependency on mocha-typescript to resolve this issue.

[2020-04-29 17:18] BurtHarris opened #467 "Replace Map<number,T> with (sparse) Array<T>"
Arrays in JavaScript are by definition sparse, so using a Map with number key seems like a potential performance improvement.   For example, `DFAState.edges`  is high-traffic, particularly in `getTarget()`, which shows up at approximately 10% in CPU profiles.

A quick trial experiment of this showed a statistically significant improvement in run time for **TestLexerSeed.**  However it introduced b

[2020-04-29 19:07] BurtHarris commented on #467
One challenge to this is that `Array<T>.keys `returns number keys with undefined elements.   This required a little filtering in a `toString() `method, but `Array.forEach()` works out well.

Other potential applications of this include `ATN.LL1Table`, which _might_ be significant in parsing speed.

TokenStreamRewriter.ts 	`indexToOp`, ATNDeserialization `rulePrecedenceDecisions`, and ParserATNSimu

[2020-04-30 20:28] BurtHarris opened #470 "Consider: Should Token have a getText() method for compatability"
If someone tries to port a grammar containing actions, calling `getText()` on a `Token` seems like a very common action.   We have a `text` property for typescript-style, but perhaps we should keep the method as well.

[2020-04-30 20:42] sharwell commented on #470
Embedded actions are known to not be compatible across targets. It's preferable to generate the style most familiar for particular language.

[2020-04-30 20:45] sharwell commented on #470
Where is tour/ActionExpr.g4?

[2020-04-30 20:59] BurtHarris opened #471 "Null checking and action code in generated parser"
I'm porting the ActionExpr.g4 grammar from Java actions to TypeScript.   My grammar contains this:
[code]
The resulting code in the generated parser reads:
[code]
resulting in errors:

* TS2538 - Type 'undefined' cannot be used as an index type.
* TS2345 -Argument of type 'string | undefined' is not assignable to parameter of type 'string'.
  Type 'undefined' is not assignable to type 'string'.

[2020-04-30 21:10] BurtHarris commented on #471
Seems to be generated by **`TokenPropertyRef_text(r)`** in TypeScript.stg

@sharwell this seems like something you might be interested in.

[2020-04-30 21:20] BurtHarris opened #472 "Rule numbers: constants vs static members"
In ActionExpr.g4, I've got the following:
---
expr
	returns[v: number]:
	a = expr op = ('*' | '/') b = expr {
                                   if ( $op.type==MUL ) $v = $a.v * $b.v;
                                   else $v = $a.v / $b.v;
                                   }
	| a = expr op = ('+' | '-') b = expr {
                                   if ( $op.type==ADD ) $v = $a.v + $b.v;

[2020-04-30 22:00] BurtHarris commented on #472
Workaround in .g4 file:

[code]

[2020-04-30 22:48] sharwell commented on #471
Do you have ideas for how it could be resolved?

[2020-04-30 23:09] BurtHarris commented on #471
[code]
I that sort of punts on null checking...
An alternative might be to return the empty string if the label is null.

[code]

[2020-04-30 23:14] BurtHarris commented on #470
Original is from chapter 4 of the Definitive ANTLR 4 Reference.   I'll attach my current version, but I've already changed to use `text` rather than `getText()`.
[ActionExpr.txt](https://github.com/tunnelvisionlabs/antlr4ts/files/4561821/ActionExpr.txt)

[2020-04-30 23:34] BurtHarris commented on #471
Hmm, because `Token `declares `text: string | undefined`, it still needs a final null elimination at the end.   So in the grammar, I guess I need a bang following text:

[code]

In that case, the original generated code may work OK.  TypeScript 3.7 operational changing has a nicer synta.

 I was a bit confused by another message because of how I had defined member `memory = {}`, but got that strai

[2020-04-30 23:43] sharwell commented on #471
What about using this in the grammar?

[code]

[2020-04-30 23:51] BurtHarris commented on #471
That sounds reasonable,

[2020-05-01 01:17] BurtHarris opened #473 "Visitor classes lack visit(), visitChildren() etc..."
I'm running `antlr4ts -visitor -no-listener LabeledExpr.g4`.

The resulting LabeledExprVisitor.ts has methods like **`visitAssign()`** does not implement the **`visit()`** method declared in ParseTreeVisitor.ts's `ParseTreeVisitor<Result>` interface.

@sharwell it should have methods like `visit()`, right?

[2020-05-01 01:27] BurtHarris commented on #473
My confusion, closing

[2020-05-01 01:27] #473 closed

[2020-05-01 01:38] BurtHarris commented on #473
Reopening.   Probably related to #398...

[2020-05-01 04:45] BurtHarris opened #474 "message: line 0:-1 no viable alternative at input '<ID><ID>'"
the test named _testPatternMatchesStartRule2_ seems to be generating the above message while executing.   The test passes, but it doesn't even seem to test the type of the expected exception.

@sharwell, is this message expected?

[code]
You probably remember, but the test name that generated the message is listed _after_ the message.

[2020-05-01 15:18] BurtHarris opened #475 "ParseTreeWalker understand the generated listeners"
In TypeScript we can declare listeners as interfaces which specify, and implement them using object literal syntax and lambda's.   E.g:

[code]
This is much more compact that creating a listener class implementing `interface ExprParseListener`, but just as typesafe.  Typescript understands the correct type of each `ctx`, in the lambda's without explicit typing.   It also checks the implemented ent

[2020-05-01 19:42] BurtHarris commented on #475
I found a good approach for this by making the `ParseTreeListener `class as a template parameter to both `Parser `and `ParserRuleContext`.   This way there is zero runtime overhead.  The updated classes become:

[code]
and
[code]

[2020-05-02 18:58] BurtHarris commented on #451
@sharwell can you please remind me where to find the source code needed to run benchmark?

[2020-05-02 19:10] BurtHarris commented on #444
Dealing with generated overloads, particularly overloaded constructors, seems like a difficult problem.   @sharwell thoughts?

One thought is to build a post-processor which can detect attempts in generated code at overloading and combine into a single function.  A postprocessor might also address my desire to generate only a single output .ts file, as described in #195.  See also [stackoverflow/a

[2020-05-02 19:46] BurtHarris commented on #436
The way listeners in general work in the TypeScript port, then need for **Base*Listener** (like `BaseErrorListener`)  classes is eliminated.   In the Java target, these **Base*Listener** carry along empty implementations of all the methods required by the interface definition (e.g. `ErrorListener)`.

In the TypeScript target, we have made **all** the methods optional in the interface definition.

[2020-05-02 19:46] BurtHarris commented on #436
Please reopen this if it's not clear

[2020-05-02 19:46] #436 closed

[2020-05-02 22:48] BurtHarris opened #476 "Improve doc usability in editor"
- The jsdoc comments in this package make heavy use of the [` {@link ...}`](https://jsdoc.app/tags-inline-link.html) feature.   Unfortunately general support for this has been a longstanding wishlist item for the TypeScript and VSCode teams, and there are problems implementing it as everyone would like.   The results generated today for our jsdoc comments are not pretty.

- It might be good to pro

[2020-05-15 09:23] mike-lischke opened #477 "Property 'xxx' has no initializer and is not definitely assigned in the constructor."
When `"strictPropertyInitialization"` is not specified or set to true then rules with a label will generate code that produces an error with Typescript. This rule:

[code]

contains 2 labels (option and security) and generates this code:

[code]

And because neither of `_option` and `_security` are initialized, this produces the error mentioned in the title.

A workaround is to set `"strictPropert

[2020-05-15 18:43] jmls opened #478 "child process exited with code 1"
I'm trying to run this on a progress (openedge) g4 file. I get a whole spew of warnings like

warning(125): grammar/Proparse.g4:4406:3: implicit definition of token 'SMALLINT' in parser

and then

`child process exited with code  1`

where do I begin to start looking ? Is there any debug I can turn on ?

[2020-05-28 22:41] BurtHarris commented on #478
Where can I find the grammar file(s)?

[2020-06-13 13:19] mike-lischke opened #479 "Code release produced a wrong typings file."
I haven't looked at the details of antlr4ts for a while already, so I don't know when this was introduced, but currently (0.5.0-alpha.3) there's a bug in `ParserInterpreter.d.ts` which causes a crash in my grammer debugger. Line 64 reads:

    protected rootContext: InterpreterRuleContext;

which is probably as it has been before. Later (4.5.1) a line was added:

    readonly rootContext: Interpre

[2020-06-19 07:56] saravanan10393 commented on #421
There is no option to specify
[code]
in webpack-5. What should i do now, i am kind of blocked by this. any suggestion would really helpful.

[2020-07-30 04:15] arucil opened #482 "Rule name collides with member of ParserRuleContext"
If a grammar contains a rule named `text`,
[code]
A name conflict error is reported in the generated Parser file:
[code]
`text` is a getter in `RuleContext`, which is the base class of `ParserRuleContext`.

[2020-08-09 21:59] D-to-the-K opened #483 "superClass file not being imported by the generated lexer/parser"
Hi! First of all, let me say I greatly appreciate all the work put into this project so far.
Can't wait to see the TS target merged to ANTLR4's master branch :)

I've just run into an issue regarding the usage of the superClass option for both lexer and parser grammars.

When I was using the JavaScript target, the generated lexer would contain a line to import the superclass file, like this:
[code

[2020-08-09 22:04] D-to-the-K commented on #482
Same problem here.

[2020-08-13 15:51] ivosh commented on #477
I encountered this problem as well. We use `"strict: true"` option in `tsconfig.json` in our project.

I considered various workarounds and at the end decided to:
- leave `"strict: true"` option as is;
- not to version-control generated parser and hand-edit it;
- rather patch the parser with `replace-in-file` utility.

[2020-08-16 22:19] mtriff opened #484 "Prepend "this." on method calls?"
This is a bit of a followup to #424.

As mentioned on that issue, JavaScript/TypeScript requires `this.` to be appended to method calls, while other languages do not. Currently, methods in grammar predicates will not be called correctly unless the grammar itself uses the `this.method()` format. This prevents using the same grammars that have been written for all other ANTLR4 language targets with

[2020-08-16 23:23] sharwell commented on #484
Actions in grammars are target-language-specific. Special properties using the `$` syntax would need to have the `this.` prefix added during code generation, but other calls would need to be written in the target language.

[2020-08-16 23:45] KvanTTT commented on #484
What about https://haxe.org/ ? It can be compiled to different languages including C#, Java, JavaScript, Python, etc.

Also, I wouldn't say they are rare cases. There are quite many issues related to compilation across different runtimes on grammar repository. Thus such a language would be useful.

[2020-08-28 17:51] PrGauvreau opened #485 "Generated TS files fail to compile"
![image](https://user-images.githubusercontent.com/9502594/91600130-48ebf200-e91c-11ea-80dc-ae105afe064b.png)

[2020-08-30 11:32] belaczek commented on #485
+1
This is an issue since Typescript V4 issues an error on properties overriding accessors and vice versa.
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-0.html#properties-overriding-accessors-and-vice-versa-is-an-error

My temporary solution is adding ```// @ts-nocheck``` at the beginning of all the generated files causing issues.

[2020-08-30 14:36] ColinTimBarndt commented on #485
Is there any way to automate this temporary fix? This generator does not seem to support `@header`s. Otherwise this would have worked:
[code]

[2020-08-31 20:16] josejulio commented on #485
I created a PR to fix this issue, could you verify if that fixes your issue also?
Not sure if we have to change any other getter.

[2020-09-01 07:24] belaczek commented on #485
@josejulio Thank you for quick response. Checked the PR and it seems to cover all of our issues.

[2020-09-01 13:57] ColinTimBarndt commented on #485
I modified the antlr4ts-cli jar file with the PR and Typescript compiled without any errors.

[2020-09-01 15:19] ColinTimBarndt commented on #485
I have encountered an error in one of the lines that are changed in the PR:
[code]
Error:
[code]
This error is thrown because of this line of code in the abstract Recognizer class:
[code]
This means that more changes need to be made to the code to make it compatible to the newer version of Typescript (if I didn't make any mistakes on my side of course).

[2020-09-01 15:22] josejulio commented on #485
Thanks, I probably modified something that didn't need to change.
Could you send a g4 file that reproduces the issue?

[2020-09-01 15:26] ColinTimBarndt commented on #485
Here you go:
https://gist.github.com/ColinTimBarndt/aebc51177b93b7c6c002bb765ff1a941

[2020-09-01 15:43] josejulio commented on #485
I couldn't reproduce, i'm using typescript 4.0.2 and here is the output of the antlr4ts: https://gist.github.com/josejulio/8a7959ef6f7c646b88cd03bb24bf0ad6

Could you tell if is similar to the one you are getting?

[2020-09-01 16:02] ColinTimBarndt commented on #485
I tried to parse this code:
[code]

[2020-09-01 16:21] josejulio commented on #485
I might be approaching this bug on the wrong side.

Looking more closely, https://github.com/tunnelvisionlabs/antlr4ts/blob/master/src/Recognizer.ts#L117 is implementing the `get` method, but typescript(?) might be generating a `readonly` definition, which is weird on this current case.

There maybe is a way to tell typescript to not change it to `readonly` and allow implementors to overwrite it.

[2020-09-01 16:40] josejulio commented on #485
Looks like that's the behavior on (and before) typescript 3.6.2

[2020-09-01 19:46] josejulio commented on #485
Updated the PR.
Now I'm upgrading to 4.0.2 and fixing a compile time error of the lib itself.

[2020-10-04 10:06] MartinPavlik opened #488 "TS complains about error TS2611: <propertyName> is defined as a property in class <classNameA>, but is overridden here in <classNameB> as an accessor."
Hi,

I'm facing an issue that `tsc` complains about following errors in generated files. Do you have any idea what is wrong, please?

[code]
My package.json:
[code]

My tsconfig.json:
[code]

Node version:
[code]

Thanks for any help :beers:

[2020-10-04 10:08] MartinPavlik commented on #488
Ah lol, duplicate of #485

[2020-10-04 10:08] #488 closed

[2020-11-09 15:55] TheFlyingDutchman0 commented on #485
Does anybody have a workaround for using this in a pipeline? I can't add `// @ts-nocheck` manually. It would be amazing if #486 would be merged.

[2020-11-17 10:58] mike-lischke commented on #485
I mentioned that already in issue #479 but got no reply. Looks like this library doesn't get much love anymore from @sharwell or @BurtHarris. Not even automatically created security PRs are merged.

[2020-11-17 11:04] TheFlyingDutchman0 commented on #485
It seems like it's solved in the code with this pull request #490. When can we expect an updated npm package?

[2020-12-27 23:50] friggeri commented on #485
Any updates on this?

[2020-12-29 04:04] dmaffitt commented on #485
I'd like to bump this issue, too.  The good news is you have a lot of people interested in the library. The bad news is you have a lot of people interested in the library.

[2020-12-29 04:36] sharwell commented on #485
I'm working on updating my forks to 4.9, starting with the Java release. I'm hoping I can get them published in the upcoming weeks.

[2021-01-01 05:14] sharwell commented on #484
Based on the fact that the main targets are all in maintenance mode, it feels safe to close this one as **wontfix** based on https://github.com/tunnelvisionlabs/antlr4ts/issues/484#issuecomment-674591393.

[2021-01-01 05:14] #484 closed

[2021-01-01 05:19] sharwell commented on #477
This is definitely _not_ a fix. Significant effort (e.g. https://github.com/antlr/antlr4/pull/1576, https://github.com/antlr/antlr4/pull/1582) went into ensuring that non-optional properties in the rule were generated as non-optional properties in the grammar.

Is there another way to suppress this warning for members that will be initialized before the type is used, but are not initialized in the

[2021-01-01 06:12] sharwell commented on #477
Looks like we can add a definite assignment assertion to the property:

[code]

[2021-01-01 11:09] mike-lischke commented on #477
But the properties are not always assigned! For instance `security` is only used in specific alts. In all others it is unassigned and should appear therefore as optional.

[2021-01-01 19:49] sharwell commented on #477
Yes, these should appear as optional.

[2021-01-01 20:21] sharwell commented on #477
Unfortunately, it looks like the `TokenDecl` and `RuleContextDecl` models don't currently track an `optional` property the same way context getters do. The temporary solution is declaring all context properties with a non-null assertion operator, which adheres to the C# Nullable Reference Types practice of treating "oblivious" (or unknown nullability) scenarios as non-null.

[2021-01-01 20:35] sharwell opened #495 "Reconsider definite assignment assertions"
The following assertions were added to existing problematic code as part of enabling the `strict` compilation option. Some of these may be able to be rewritten to avoid the need to use assertions.

[2021-01-16 12:07] GordonSmith opened #498 "Question: Visitor context typings?"
I ported over an existing antlr (JavaScript) project to use antlr4ts, with the expectation that the visitor callbacks would have strong typing for both the context and the return value from "visitChildren".  I see neither?

Am I doing something wrong, or was my expectation wrong?

[2021-01-20 19:27] obiwanjacobi commented on #498
Here is what I do:

[code]

Where `ProjectVisitor` is the Visitor interface that was generated for your grammar. The `ReturnType` is a generic type that you specify for this specific visitor implementation. You only have to implement the `visitXxxx` functions you actually need.

HTH [2c]